// .md-display-4 {
//   font-size: 112px;
//   font-weight: 300;
//   letter-spacing: -0.01em;
//   line-height: 112px; }

// .md-display-3 {
//   font-size: 56px;
//   font-weight: 400;
//   letter-spacing: -0.005em;
//   line-height: 56px; }

// .md-display-2 {
//   font-size: 45px;
//   font-weight: 400;
//   line-height: 64px; }

// .md-display-1 {
//   font-size: 34px;
//   font-weight: 400;
//   line-height: 40px; }

.md-headline {
  // font-size: 24px;
  font-weight: 300;
  // line-height: 32px; 
}

// .md-title {
//   font-size: 20px;
//   font-weight: 500;
//   letter-spacing: 0.005em; }

// .md-subhead {
//   font-size: 16px;
//   font-weight: 400;
//   letter-spacing: 0.01em;
//   line-height: 24px; }