a {
    @extend .prm-links;
    position: relative;
    line-height: 1.4em;
    padding-bottom: .1em;
    text-decoration: none;
    @include box-shadow(inset,0,-1px,0,0,$links-background-hue1);
    display: inline;
    cursor: pointer;

    &:hover,
    &:focus,
    &.hover {
        @extend .prm-links-background.prm-hue-1;
        @extend .prm-links-hover.prm-hue-1;
        @include box-shadow(inset,0,-1px,0,0,transparentize($linksHover, .5));

        .light-on-dark-dialog & {
            background-color: transparentize($linkTitle, .9);
            color: lighten($linkTitle, 10%);
            box-shadow: inset 0 -1px 0 0 transparentize($linkTitle, .5);
        }
    }

    &.a-tag-as-wrapper,
    &.a-tag-as-wrapper:hover,
    &.a-tag-as-wrapper:focus {
        display: static;
        box-shadow: none;
        background-color: transparent;
        line-height: auto;
        padding: 0;
        margin: 0;

        @extend .prm-text;
    }
      
}

[external-link] {
    color: transparentize($dark, .3);

    md-icon {
        height: 15px;
        width: 15px;
        min-height: 15px;
        min-width: 15px;
        top: -1px;
        position: relative;        
    }

    .light-on-dark-dialog & {
        color: inherit;
    }
}


.arrow-link {
    [link-arrow] {
        // position: absolute;
        position: relative;
        display: inline-block;
        width: 0;
        md-icon {
            width: 20px;
            height: 20px;
            min-width: 20px;
            min-height: 20px;
            opacity: .5;
            transition: $swift-ease-out;
            transition-duration: .3s;

            @include rtl(transform, translateX(0) rotate(0), translateX(0) rotate(180deg));            
        }
    }
    &:hover {
        [link-arrow] {
            background-color: transparent;
            md-icon {
                opacity: 1;
                transform: translateX(7px);

                @include rtl(transform, translateX(7px) rotate(0), translateX(-7px) rotate(180deg));
            }
        }
    }
}

.link-alt-color {
    @extend .prm-secondary-color.prm-hue1;
}