$accent: $midGrey;
$duration: 1500ms;
$timing: linear;

.loader {
    position: relative;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 40%;
    display: flex;
    flex-flow: column nowrap;
    transform: translate(-50%, -50%);
    .diamond {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto;
        width: 1.2em;
        height: 1.2em;
        border-radius: 2px;
        background: $accent;
        transform: translateY(0) rotate(45deg) scale(0);
        animation: diamonds $duration $timing infinite;
        @for $i from 1 through 4 {
          &:nth-child(#{$i}) {
            animation-delay: -($duration / 1.5) * $i;
          }
        }
    }
}

@keyframes diamonds {
    50% {
        transform: translateY(-2em) rotate(45deg) scale(1);
    }
    100% {
        transform: translateY(-4em) rotate(45deg) scale(0);
    }
}
