.md-chips {
    font-family: $serif;
    font-weight: $normal;
    font-size: .95em;
    padding: 0;

    strong, b {
        font-weight: $bold;
    }  
    .md-chip {
        background-color: $white;
        height: $chipTouchHeight;
        line-height: $chipTouchHeight;
        position: relative;
        
        
        .md-chip-content {
            display: flex;
            max-width: 100%;

            strong {
                @extend %text-trim-ellipsis;
                // &:after {
                //     content:"\a0\a0"
                // }
            }
        }

        &.rounded-chip {
            border-radius: 1em;
        }


        &.outline-chip {
            background-color: transparent;
            color: transparentize($dark, .3);
            box-shadow: inset 0 0 0 1px transparentize($dark, .7);
        }

        &.toggleable-chip {
            background-color: transparent;
            padding-left: 20px;  
            cursor: pointer;
            display: flex;
            flex-direction: row-reverse;
            

            + .toggleable-chip {
                margin-top: .25em;
            }

            .md-chip-content {
                // color: $almostBlack;
                transition: transform .3s $easeOutBack;
                transform: translateX(-20px);
                @include bgColor(lighten($dark, 20%));
            }
            &:hover,
            &:focus {
                &:not([disabled]) {
                    color: black
                }
            }
            &:not(.md-readonly) {
                 padding-right: .75em;
            }
           
            .md-chip-remove-container {
                right: auto;
                left: 0;

                button {
                    appearance: none;
                    background: transparent;
                    border: none;
                }

                prm-icon.close-button {
                    @extend .prm-warn;
                }

                &.ng-enter {
                    opacity: 0;
                    transform: scale(0);
                    transition: $swift-ease-out;
                    &.ng-enter-active {
                        opacity: 1;
                        transform: scale(1);
                    }
                }

            }
            md-icon {
                @include setSize(18px);
            }
            &.chip-toggled-on {
                padding-left: 0;  
                background-color: $white;
                .md-chip-content {
                    color: black;
                    transform: translateX(0);                    
                }
            }
        }

        

        // all facets in sidebar
        #facets-container & {
            clear: left;

            &:last-child {
                // margin-bottom: 1em;
            }

        }
    }
}
