md-toast,
md-toast.md-default-theme {
	background-color: $yellow;
	// color: black;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;

	> span,
	> .md-button {
		flex: 0 0 auto;
		color: black;		
	}

	.md-button {
		font-weight: $bold;
	}

	&.md-top {
		// top: 60px;
		top: 0;
		height: 64px;
		box-shadow: none;
		max-width: none;
		width: 100%;
		&.md-right {
			right: 0;
			left: 0;
			margin: auto;
		}
	}

}