md-content,
md-content.md-primoExplore-theme {
	background-color: transparent;
	box-shadow: 0 0 0 0 $yellow;
	// transition: $swift-ease-out;
	&.editable {
		box-shadow: 0 0 0 3px $yellow;
	}
	&.opaque-content {
		background-color: $white;
	}

	// log out button in modal account popup on mobile needs a better colour
	// weird colour choice to match opacity
	prm-authentication {
		background-color: rgba(52, 102, 154, 1);
		border-color: #34669a;
	}
	prm-authentication button.button-with-icon.zero-margin.md-button.md-primoExplore-theme.md-ink-ripple {
		background-color: rgba(52, 102, 154, 1);
		border-color: #34669a;
	}

	// and then hit the login button in the yellow bar to get rid of the 4 dots that surround it...
	div.bar.alert-bar.layout-align-center-center.layout-row prm-authentication {
		background-color: $alert;
		border-color: $alert;
	}

}

md-dialog {
	// put some space above so we dont get the purple header under the button through the opacity
	prm-library-card-menu {
		margin-top: 4em;
	}
}

// hide the 'english' option in the mobile user view
div.md-dialog-container .overlay-menu-item.layout-align-center-center.layout-row {
	display: none;
}
