md-list {
	+ .expand-link {
		//color: darken(saturate($positive, 10%), 10%);

		md-icon {
			margin-right: .5em;
			color: inherit;
		}
	}

	.show-more-button {
		background-color: transparentize(white, .5);
	}

	&.prm-bricks-list {
		box-shadow: none;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
	}

	&.has-list-nav {
      position: relative;
    }
    .list-nav {
      position: absolute;
      right: -48px;
      top: 0;
      height: 100%;
      .list-nav-inner {
        height: 100%;
      }
      .md-button {
        @include setSize(48px);
        margin: 0;
      }
    }
    &.prm-list {
      @extend .default-shadow;
      &.prm-linkable-list-items {
        md-list-item {
          min-height: 0;
          padding: 0;
          margin-bottom: 1px;
          &:before {
            min-height: 0
          }
          > .md-button {
            min-height: 48px;
            padding: 0;
            &:before {
              min-height: 0
            }
            > a {
              &:hover, &:focus {
                box-shadow: none !important;
                background-color: transparent;
                + .md-list-item-inner,
                + ._md-list-item-inner {
                  @extend .prm-hover-list-element-bg;
                }
              }
            }
          }
          ._md-list-item-inner,
		  .md-list-item-inner {
            padding: .75em 1em;
            @extend .prm-background.prm-hue2;
          }
          .item-title {
            // @extend .bold-text;
            line-height: 1.7em;
            @extend .prm-citation-title;
            white-space: normal;
            > prm-icon {
              color: inherit;
              margin-right: 5px;
              color: initial;
              md-icon {
                @include setSize(18px);
              }
            }
            .combined-half-mark{
              font-size: 12px;
            }
          }



        }
        &.prm-dense-list {
          md-list-item {
            &:before {
              min-height: 0;
            }
            .item-title {
              font-size: 15px;
            }
            .md-list-item-inner,
            ._md-ilst-item-inner {
              padding: .5em 1em;
              &:before {
                min-height: 0;
              }
            }
          }
        }
      }
	}
	md-list-item.md-3-line,
	md-list-item.md-2-line {
		&:before {
			min-height: 0;
		}
	}
}
md-list-item {
	&._md-button-wrap {
		> div.md-button {
			&:first-child {
				padding: .75em 1em;

				.separate-list-items & {
					padding: 0;
				}
			}
		}
	}
	.separate-list-items.gapped-list & {
		margin-bottom: .5em;
	}

	&.md-clickable div.md-button:first-child {
		min-height: 0;
		&:before {
			min-height: 0;
		}
	}

	.separate-list-items & {
		background-color: white;
		margin-bottom: 1px;
		position: relative;
		min-height: 0;
		padding: 0;
		position: relative;
		background-color: $white;



		._md-secondary-container, .md-secondary-container {
			margin: 0;
			align-self: stretch;
		}

		&.md-2-line {
			> .md-button {
				min-height: 0;
			}
		}

		&.md-3-line {
			> .md-button {
				min-height: 0;
			}
		}

		// > .md-button,
		> .padded-container {
			padding: .5em 1em;
			border-radius: 0;
		}

		&.md-clickable {
			padding: 0;
			> .md-button {
				padding: .5em 1em;
				// &:not([disabled]):hover {
				// 	background-color: transparentize($links, .9)
				// }
			}

		}


		&.focus-highlight {
			background-color: $highlight;
			transition: background-color .5s ease;
		}
		.item-index {
			position: absolute;
			    font-size: .8em;
			    opacity: .4;
			    top: .25em;
			    left: .35em;
		}

		.item-expand-button {
			margin: 0;
		    transform: none;
		    top: 0;
		    right: 0;
		    height: 100%;
		    min-width: 65px;
		    border-radius: 0;
			[dir="rtl"] & {
				right: auto;
				left: 0;
			}

		    .__xs & {
		    	position: absolute;
		    	height: calc(100% - 50px);
		    }

		    md-icon {
		    	transition: transform 0.5s $swift-ease-out-timing-function;
		    	@include setSize(28px);
		    }
		}

		.item-respond {
			text-align: right;
			padding: 0 1em;
		}

		.item-loader {
			margin-right: 1em;
			prm-spinner {
				height: 30px;
			}

		}
		.item-loader-with-text {
			> div {
				position: relative;
			}

			md-progress-circular {
			 	transform: scale(0.2);
				height: 40px;
				top: -5px;
				right: -30px;
			}
			.md-button {
				min-width: 50px;
				min-height: 0;
				height: 32px;
				margin: 0;
				@extend .prm-links;
			}
			.timer-counter {
				position: absolute;
				left: -24px;
				top: 3px;
				font-size: .9em;
			}
		}

		&.has-expand {
			.md-list-item-text {
				// padding-right: 0;

			}
			.item-action {

				position: relative;
				transform: none;
				top: auto;

			}
		}
		&.item-expanded {
			&.md-3-line {
				h2, h3, h4 {
					white-space: normal;
				}
			}
		}

		.md-list-item-text {
			max-width: 100%;
			padding: .75em 2em;
			.unmuted-text {
				color: $dark;
			}
			> div:not(:last-of-type){
				padding-right: 1em;
			}
			> div:last-child{
				padding: 0;
			}
			> div.list-item-actions {
				.__xs & {
					position: absolute;
					bottom: .5em;
					right: .5em;
					[dir="rtl"] & {
						right: auto;
						left: .5em;
					}
				}
			}
			p {
				md-icon {
					@include setSize(18px);
					// vertical-align: middle;
					position: relative;
					top: -1px;
				}
			}
			.has-icon-on-left {
				display: flex;
				align-items: center;
				md-icon {
					margin-left: 0;
				    margin-right: .2em;
				    @include setSize(18px);
				    position: relative;
				    top: -1px;
				}
			}
		}

		.md-dialog-container {
			top: 0 !important;
		}
	}

	& .md-list-item-with-checkbox {
			position: relative;

			md-checkbox {
				position: absolute;
				top:0.5em;
				left: 0.4em;
				[dir=rtl] & {
					right: 0.4em;
					left: 0;
				}
				z-index: 1;
			}

		.item-index {
			position: absolute;
			font-size: .8em;
			opacity: .4;
			top: .6em;
			left: .5em;
			[dir=rtl] & {
				right: .5em;
				left: 0;
			}
			height: 20px;
			width: 20px;
			display: flex;
			align-items: center;
			justify-content: center;
		}

      .title-row {
        h3 {
          max-width: 100%
        }
        prm-icon {
          opacity: 0;
        }
        &.is-hovered {
          prm-icon {
            opacity: 1
          }
        }
      }
	}

	.default-list & {
		p {
			line-height: 1.2em;
		}
	}
	&.list-item-as-link {
		@extend .prm-links;
	}

	.prm-bricks-list & {
		display: inline-flex;
		margin-bottom: .5em !important;
		margin-right: .5em;
		border-radius: $radius;
		@extend .default-shadow;
		> .md-button {
			border-radius: $radius;
			min-width: 58px;
		}
	}

	&.zero-padding {
		padding: 0;
	}
}