md-grid-tile,
.tiles-grid-tile {

	@extend .prm-background.prm-hue2;
	@extend %default-shadow;

	md-list,
	.tile-content {
		padding: 0;
		width: 100%;
		position: relative;

		md-list-item {
			position: relative;
			border-bottom: 1px solid;
			@extend .prm-background-border;
			min-height: 0;
			cursor: pointer;

			> .md-button {
				button.md-button {
					&:hover {
						background-color: transparent;
					}
				}
			}

			&:last-child {
				margin-bottom: 0;
				box-shadow: none;
				border: none;
			}

			.tile-item-arrow {
				position: absolute;				
				top: 0;
				right: .5em;
				bottom: 0;
				margin: auto;
				height: 48px;
				transition: $swift-ease-out;
				opacity: 0;		
				transform: translate3d(-1em,0,0);

				prm-icon {		
					
					display: flex;
					height: 100%;
				}
			}

			&:hover {
				background-color: $white; 
				.tile-item-arrow {
					transform: translate3d(0,0,0);
					opacity: 1;
					prm-icon {
						
					}
				}
			}

			.no-wrap-line {
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
			}

			.has-icon-on-left {
				display: flex;
				align-items: center;
				position: relative;
				margin-left: -2px;

				prm-icon {
					
					display: flex;
				}

				md-icon {
					margin-left: 0;
					width: 18px;
				    height: 18px;
				    min-width: 18px;
				    margin-right: .2em;

				}
			}			
		}

		md-divider{
			@extend .prm-background-border;
		}

		.md-list-item-text {
			max-width: 100%;
			h3 {
				margin-bottom: .15em;
			}
			h4 {
				margin-bottom: 3px;
			}
		}

		.item-index {
			position: absolute;
			    font-size: .8em;
			    opacity: .4;
			    top: .35em;
		        left: .35em;
		        line-height: 1em;
		}

		prm-spinner {
			&.overlay-cover {
				&:after {
					@extend .prm-background.prm-hue2;
				}
			}
		}
	}

	figure {
		md-grid-list & {
			bottom: auto;
			height: auto;
			align-items: flex-start;
		}
	}

	.tile-content{
		> .md-button {
			@extend .button-link;
		}
	}

	.tile-header {		
		padding: 0.4em 0.4em 0.4em 0.6em;

		.small-text {
			font-size: .8em;
		}

		.tab-label-count {
			position: relative;
    		top: -2px;
		}

		.header-link {
			margin: 0;
			font-size: 1.5em;
			cursor: pointer;
			position: relative;
			display: flex;

			.arrow-icon {
				@extend .prm-links;
				left: -.8px;
				position: relative;
				opacity: 0;
				transform: translate3d(0, 0, 0);
				transition: $swift-ease-out;
			}

			.alert-icon {
				position: absolute;
				right: 5px;
				top: 5px;
				width: 21px;
				opacity: .8;
			}

			&:hover {
				@extend .prm-links;
				.arrow-icon {
					opacity: 1;
					transform: translate3d(10px, 0, 0);
				}
				.alert-icon {
					opacity: 1;
				}
			}

		}

		.md-button {
			margin: 0;
			min-height: 0;
			line-height: 28px;
			@extend .prm-links;

			md-icon {
				position: initial;
				color: inherit;
			    height: 16px;
			    width: 16px;
			    vertical-align: middle;
				margin-top: -3px;
			}
		}

	}

	.message-with-icon {
		md-icon {
			width: 60px;
			height: 60px;
			@extend .prm-background-color;
		}
	}
}