// Predefined Break-points
$mediaExMaxWidth: 1920px;
$mediaMaxWidth: 1280px;
$mediaBp3Width: 960px;
$mediaBp2Width: 820px;
$mediaBp1Width: 600px;
$mediaMinWidth: 480px;

// translate function
@function translate-media-condition($c) {
  $condMap: (
		"screen": "only screen",
		"print": "only print",
		"retina": "(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-device-pixel-ratio: 1.5), (min-resolution: 120dpi)",
     	">desktop": "(min-width: #{$mediaMaxWidth + 1})",
		"<desktop": "(max-width: #{$mediaMaxWidth})", 		
		">largeTablet": "(min-width: #{$mediaBp3Width + 1})",
		"<largeTablet": "(max-width: #{$mediaBp3Width})",
    ">midTablet": "(min-width: #{$mediaBp2Width + 1})",
    "<midTablet": "(max-width: #{$mediaBp2Width})",
		">smallTablet": "(min-width: #{$mediaBp1Width + 1})",
		"<smallTablet": "(max-width: #{$mediaBp1Width})",
		">handset": "(min-width: #{$mediaMinWidth + 1})",
		"<handset": "(max-width: #{$mediaMinWidth})"
	);
  @return map-get( $condMap, $c );
}

// The media mixin
@mixin media($args...) {
  $query: "";
  @each $arg in $args {
    $op: "";
    @if ( $query != "" ) {
      $op: " and ";
    }
    $query: $query + $op + translate-media-condition($arg);
  }
  @media #{$query}  { @content; }
}
