.permalink-unit {

	.unit-content {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	.url-element {
		padding: 1em;
		  background: white;
		  border: 1px solid rgb(217, 228, 234);
	}
	.copy-text-button {
		margin-top: 1em;
		visibility: visible;
		opacity: 1;
		transition: opacity .3s ease, visibility 0s 0s;
	}
	.message-element {
		position: absolute;
		padding: .4em;
		background: $red;
		left: 0;
		right: 0;
		margin: auto;
		width: 60%;
		margin-top: .9em;
		text-align: center;
		border-radius: $radius;
		color: white;
		font-weight: $light;

		visibility: hidden;
		opacity: 0;
		transition: opacity .3s ease, visibility 0s .3s;
	}
	.message-displayed {
		.copy-text-button {
			visibility: hidden;
			opacity: 0;
			transition: opacity .3s ease, visibility 0s .3s;
		}
		.message-element {
			visibility: visible;
			opacity: 1;
			transition: opacity .3s ease, visibility 0s 0s;
		}
	}
}

	