
/// Mixin to customize scrollbars
/// Beware, this does not work in all browsers
/// @author Hugo Giraudel
/// @param {Length} $size - Horizontal scrollbar's height and vertical scrollbar's width
/// @param {Color} $foreground-color - Scrollbar's color
/// @param {Color} $background-color [mix($foreground-color, white, 50%)] - Scrollbar's color
/// @example scss - Scrollbar styling
///   @include scrollbars(.5em, slategray);
@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white,  50%)){ //
  // For Google Chrome
  &::-webkit-scrollbar {
      width:  $size;
      height: $size;
  }

  &::-webkit-scrollbar-thumb {
      background: $foreground-color;
  }

  &::-webkit-scrollbar-track {
      background: $background;
  }

  // For Internet Explorer
  body {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}

%primo-scrollbar,
.primo-scrollbar {
	 &::-webkit-scrollbar {
      width: 10px;
  }

  &::-webkit-scrollbar-thumb {
      background-color: darken($background, 7%);
  }

  &::-webkit-scrollbar-track {
      background-color: lighten($background, 1.5%);
  }

  // For Internet Explorer
  // body {
    // scrollbar-face-color: $darken($background, 5%);
    // scrollbar-track-color: $lighten($background, 2%);
  // }

  .light-on-dark-dialog & {

        &::-webkit-scrollbar-thumb {
            background-color: lighten($primary, 10%);
        }

        &::-webkit-scrollbar-track {
            background-color: darken($primary, 10%);
        }

  }
}

%custom-scrollbar,
.custom-scrollbar {
	 @include scrollbars(.5em, red);
}