  // .check_holdings_in_institution,
  // .check_holdings,
  // .check_holdings_in_library,
  // .does_not_exist_in_my_institution_check_holdings,
  // .may_be_restricted, 
  // .fulltext_unknown,
  // .viewit_getit_NFT,
  // .viewit_NFT,  
  // .unavailable_in_maininstitution_more,
  // .check_holdings_in_maininstitution
  [class*="NFT"],
  [class*="check_"],
  [class*="_more"],
  [class*="_unknown"],  
  [class*="may_"],
  [class*="does_not_exist"],
  .getit
  {
    @extend .status-maybe !optional;
    > span{

      @extend .prm-links;
    }
  }

  // .available_in_institution,
  // .available_in_library,
  // .available_in_my_institution,
  // .available_in_other_institution,
  // .available_in_maininstitution
  // .does_not_exist_in_my_institution_available,  
  // .viewit_getit_FT,
  // .viewit_FT,
  [class*="available"],
  [class*="FT"],
  .not_restricted,
  .fulltext, 
  .fulltext_linktorsrc
  {
    @extend .status-available !optional;
    > span {
      @extend .prm-links;
    }
  }

  // .unavailable_in_institution,
  // .unavailable_in_library,
  // .unavailable_in_all_institutions,
  // .does_not_exist_in_my_institution_unavailable,
  // .unavailable_in_maininstitution_nomore ,
  // .no_fulltext,
  // .no_fulltext_linktorsrc,
  // .no_services,
  [class*="unavailable"],
  [class*="no_"],
  .restricted,
  .duedate 
  {
    @extend .status-unavailable !optional;
    > span {
      @extend .prm-links;
    }
  }