
// .filter-chips {
//     padding: .5em 1em;

//     @include media( "screen", ">smallTablet", "<desktop" ){
//         padding: .5em 0;
//     }

//     &.no-chips {
//         max-height: 0;
//         padding: 0;
//     }
// }
// body {
//     @extend %absolute-full-cover;
//     overflow: hidden;   
// }

// div[ui-view] {
//     overflow-y: auto;
//     height: 100%;
//     @extend %absolute-full-cover;
// }

.main,
.sidebar {
    min-width: 0;
}

// main content
.main {
    // min-height: 100vh;
}

.content {
    padding: 1.5em;

}

.spaced-rows {
    > div,
    > span,
    > li,
    > a {
        margin-bottom: .2em;   
    }
    
}

