.main,
.sidebar {
    min-width: 0;
}

// main content
.main {
    // min-height: 100vh;
}

.content {
    padding: 1.5em;

}

.spaced-rows {
    > div,
    > span,
    > li,
    > a {
        margin-bottom: .2em;   
    }
    
}

