@import "../../../../uqlibrary-styles/skeleton.scss";

$font: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$nav-border: 4px solid #51247A;
$page-background-color: #FAFAFA;
$button-color: #0E62EB;
$black-button-color: #595959;

%navlinks {
  border-radius: 0 2px 2px 0 !important;
  background: #EEE;
  font-size: 14px/1.2;
  cursor: pointer;
  color: #2662E3;
  border-bottom: 1px solid #eee;
  margin: 0 0 1px 0;
  background: url("https://assets.library.uq.edu.au/reusable-components/resources/images/arrow-right.png") no-repeat scroll right 12px transparent;
  padding: 0.6em 0;
}

%navlinks-hover {
  background-color: transparent;
  border-bottom: 1px solid #eee;
}

%shadow {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 1px 5px 0 rgba(0, 0, 0, 0.12),
  0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

@mixin hover-style($color) {
  background: transparent;
  border-bottom: 4px solid $color !important;
  transition: all .1s ease;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font;
  font-weight: 300;
  background: $page-background-color;
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
}

/* 'body' to overwrite inbuilt springshare styles... */
body h1 ,
body #s-lc-guide-header-info h1,
body .s-lc-header h1 {
	color: #49075E;
    font-size: 22px;
    font-weight: 400;
}

body h2 {
	font-size: 20px;
}

h3,
h4 {
  font-weight: bold !important;
}

body h3,
body .s-lc-box-container .s-lc-box-content h3 {
  font-size: 18px;
}

body h4,
body .s-lc-box-container .s-lc-box-content h4 {
	font-size: 16px;
}

a {
  color: #2377CB;
  text-decoration: none;
  overflow-wrap: break-word;
  word-wrap: break-word;
  &:hover,
  &:focus {
    color: #005EA5;
    text-decoration: underline;
  }
}

.dropdown-toggle {
  &.btn-info {
    background-color: $button-color;
    border-color: darken($button-color, 17%);
    &:hover,
    &:focus,
    &:active {
      background-color: $button-color;
      border-color: darken($button-color, 25%);
      outline: darken($button-color, 25%);
    }
    .open > & {
      &,
      &:hover,
      &:focus,
      &.focus {
        background-color: darken($button-color, 17%);
        border-color: darken($button-color, 25%);
      }
    }
  }
}

// Dropdowns at reserve/spaces/reading-room
#s-lc-eq-navform {
  label {
    font-weight: normal;
  }
}

// Table at reserve/spaces/reading-room
#time_grid_cont {
  .s-lc-info-label {
    background-color: $black-button-color;
    border-color: darken($black-button-color, 17%);
    transition: background-color 250ms;
    &:hover,
    &:focus,
    &:active {
      background-color: darken($black-button-color, 17%);
      border-color: darken($black-button-color, 25%);
      outline: darken($black-button-color, 25%);
    }
  }
}

/* Lists - remove margins from lists to make sure spacing is equal
some pages have multiple UL's, which makes spacing between UL's different to spacing between LI's in the lists
*/
ul, ol {
  margin: 0 0 18px 8px;
  padding-left: 10px;
  td & {
    margin-bottom: 0;
    padding: 10px;
  }
}

table,
.table {
  & > thead {
    & > tr {
      & > th {
        vertical-align: top;
      }
    }
  }
  tr {
    & > th,
    & > td {
      padding: 10px;
    }
  }
}

.container,
.container-fluid {
    & > .navbar-header,
    & > .navbar-collapse {
      margin: 0 -15px;
    }
}

.nav {
  & > li {
    & > a {
      &:hover,
      &:focus {
        color: #007E9E;
        text-decoration: none;
        background-color: #FCFCFC;
        outline: none;
      }
    }
  }
}

.nav-pills {
  & > li {
    &.active {
      & > a {
        &,
        &:hover,
        &:focus {
          background-color: #007E9E !important;
        }
      }
    }
  }
}

.breadcrumb>.active {
  color: #737373;
}

/* little dropdown containing sub-menu items */
.dropdown-menu {
  position: absolute;
  top: 100%;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10px;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #FFF;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .15);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  & > li {
    &:hover {
      border-bottom: none;
    }
  }
}

.tabs {
  height: 30px;
  margin-bottom: 8px;
  ul {
    li {
      margin-bottom: -1px;
      margin-top: 2px;
      margin-right: 4px;
      border-radius: 2px 2px 0 0;
      padding: 0 8px;
      border-bottom: 4px solid #FCFCFC;
      transition: all .1s ease;
      &:hover {
        color: #333 !important;
        border-bottom: $nav-border;
        transition: all .1s ease;
      }
      a {
        color: #333 !important;
        background: transparent !important;
        background-color: transparent;
        border: none !important;
        font-weight: 400 !important;
        &:hover {
          color: #000 !important;
        }
      }
    }
    .active {
      border-bottom: $nav-border;
      a{
        span {
          font-weight: normal !important;
        }
      }
    }
  }
}

.panel-group {
  .panel {
    @extend %shadow;
    border-radius: 2px;
  }
}

.panel-default {
  border-color: #CCC;
  & > .panel-heading {
    border-radius: 2px;
    background-color: #FEFEFE;
  }
}

#s-lc-public-bc .breadcrumb,
#s-lc-admin-bc .breadcrumb {
  font-weight: normal;
  font-size: 12px;
  padding-bottom: 6px;
}

.input-group-sm {
  & > .form-control,
  & > .input-group-addon {
    border-radius: 2px !important;
  }
  & > .input-group-btn {
    & > .btn {
      border-radius: 2px !important;
    }
  }
}

.ui-widget-content {
  a {
    color: #007E9E !important;
  }
}

#s-lc-search-results {
  background-color: #FFF;
  border: 1px solid #CCC;
  padding: 16px;
  box-shadow: 0 2px 8px #CCC;
}

#s-lc-search-nav {
  display: none;
}

.s-lc-link-list {
  padding-left: 0;
}

.uq-minimal-header {
  .uq-title-text.uq-minimal-header,
  .application-title a,
  .library-title a {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    @media only screen and (min-width: 642px) {
      font-size: 20px;
    }
    @media only screen and (min-width: 1049px) {
      font-size: 23px;
    }
  }
}

div.proactivechat {
  uql-chat-proactive {
    paper-card.popupinvite,
    paper-button.button-colored-theme.tab-button.style-scope.uql-chat-proactive.x-scope.paper-button-0 {
      font-size: 16px;
      font-weight: normal;
    }
    paper-card.popupinvite {
      p.uql-chat-proactive.style-scope {
        font-size: 16px;
        font-weight: normal;
      }
    }
  }
  h3 {
    &.uql-chat-proactive {
      font-weight: normal !important;
    }
  }
}

#rightNowChatLinkContainer {
  #rightNowChatLinkInfo {
    & > span {
      background-color: $button-color;
      font-weight: 400;
    }
  }
}

li.uql-global-links {
  a.uql-global-links {
    font-size: 10.4px;
    ul.uql-global-links & {
      font-size: 10px;
      margin-right: 8px;
    }
  }
}
