prm-ngrs-results-button{
display: block;
  margin-bottom: 2.0em;
  md-card {
    @extend %default-shadow;
    @extend .prm-background.prm-hue2;
    margin: 0;
    margin-right: 1em;
    &:last-of-type {
      margin-right: 0;
    }
    md-card-content {
      padding: 0 .75em .75em .75em;
      display: block!important;
    }
  }
  
	.rapido-expand-link{
        text-transform:none;
     	font-size: 1.1em;
    	line-height: 1.5rem;
    	font-weight: 500;   
    }
}