:host {
    display: block;
    font-family: Helvetica, 'Trebuchet MS', sans-serif;
}

:host paper-material {
    z-index: 9999;
}

:host paper-toolbar {
    background-color: #000;
    /*background-color: #49075e;*/
}

:host paper-toolbar > div {
    padding: 0;
}

:host paper-toolbar paper-button {
    text-transform: inherit;
    margin: 0;
    padding: 10px;
    font-size: 15px;
}

:host paper-toolbar paper-button:hover {
    background-color: #16042c;
}

:host .uql-submenu {
    width: 440px;
    position: absolute;
}

:host .uql-submenu paper-item {
    display: inherit;
    padding-top: 3px;
    padding-bottom: 3px;
    min-height: 32px;
}

:host paper-menu paper-item,
:host paper-menu paper-item * {
    pointer-events: none;
}

:host .uql-submenu paper-item:hover {
    background-color: #ddd;
}

:host .uql-submenu paper-item div {
    display: block;
}

:host .uql-submenu paper-item a {
    color: #000;
}

:host .uql-submenu paper-item a iron-image {
    max-width:100%;
    background-color: lightgray;
}

:host .uql-submenu paper-item div.subtext {
    color: #666;
    font-size: 80%;
}

:host .uql-submenu-right paper-item {
    border-left-width: thin;
    border-left-style: solid;
    border-color: #999;
}
