node_modules
bower_components
*.tmp
*.css.map
.idea
.tmp
.DS_Store
dist

aws.json
aws.json-e
*.html-e
aws-env.sh

tmp
.sass-cache
/elements/elements.vulcanized.*

applications/**/*.css
applications/**/*.css.map

*/custom-styles.css
*/common-minimal-styles.css

reports
