// Breadcrumb trail for sub-collection
//Issue: Text and hover background is not very good contrast. Although text is our UQ blue already, and they are all links, I think it wise to change the text to blue, and then keep the hover behaviour. Several other Primo sites have done this, and it seems the safest given the underlying image may change, but is likely on average to be darker rather than lighter
prm-collection-navigation-breadcrumbs-item a.md-primoExplore-theme {
  &:focus,
  &:hover {
    color: rgba(255, 255, 255, 100) !important;
    background-color: $accent-color;
  }
}

prm-collection-gallery-header {
  prm-collection-navigation-breadcrumbs-item a.md-primoExplore-theme {
    color: $accent-color !important;
    background-color: rgba(255, 255, 255, 100);
    opacity: 0.8;
    margin-left: 10px !important;
    margin-right: 10px !important;
  }

  // the pin button should be noticeable
  prm-save-to-favorites-button button.md-icon-button {
    background-color: $white !important;
  }
  .result-item-actions prm-save-to-favorites-button:not([disabled]) {
    &.pin-button.pinned,
    &.unpin-button.unpinned {
      &:focus,
      &:hover {
        color: $white !important;
        background-color: $accent-color !important;
      }
    }
  }

  // Main Collection Lobby
  // Issue: Ex Libris OTB teal in full page vertical panel - replace with UQ colour. Text should remain white
  .collection-header-inner {
    background-color: $theme-color;
    color: $white;
  }

  // Colour contrast is poor when highlighting text
  *::selection {
    background-color: $accent-color;
  }

  // the description on the collection header needs a little spacing
  p {
    line-height: 1.4;
  }

  // Collection header spacing and width tweaks
  .collection-info {
    margin-top: 1rem;
    max-width: 50em;
    .collection-title {
      padding-right: 55px;
    }
  } 
}

// Full Record Display, for a record in a Collection, for 'More from the same Collection'
// Issue: Hovering shows a background which is too dark
// Remove hover background colour, and add underline, as per all other link outs
prm-collection-navigation-breadcrumbs-item .md-button.button-as-link.link-alt-color:not([disabled]) {
  prm-more-like-this &,
  prm-service-details &,
  prm-record-collection-paths & {
    &:focus,
    &:hover {
      color: $accent-color !important;
      background-color: #fff !important;
      box-shadow: inset 0 -1px 0 0 $accent-color-half-opacity;
    }
  }
}

// Issue: Ex Libris OTB teal for text - replace with UQ blue colour
prm-gallery-collection .collection-folder {
  .collection-overlay,
  .item-actions .md-button,
  .item-actions button {
    color: $accent-color;
  }
}

// Collection display array for individual record
// Issue: for both display View options of grid or gallery, the colour is Ex Libris OTB aqua colour for whichever one is selected - change to UQ colour
prm-collection-discovery-view-switcher .md-button {
  &.is-active:focus:not([disabled]),
  &.is-active:hover:not([disabled]),
  &.is-active-add,
  &.is-active {
    color: $accent-color;
  }
}

prm-collection-search .search-within .search-button {
  color: $white !important;
  background-color: $accent-color !important;
}

// Collection display grid
// the item text and pin icons should be uq blue
//prm-gallery-items-list .is-grid-view prm-gallery-item prm-save-to-favorites-button button md-icon,
prm-gallery-items-list .result-item-actions .pin-button md-icon,
prm-collection-gallery prm-gallery-item .collection-element .item-title {
  color: $accent-color !important;
}
prm-gallery-items-list .result-item-actions .pin-button:hover md-icon {  
  color: $white !important;
}

// Collection display - Search options
// Issue: Search options text and button colour are Ex Libris OTB and low contrast - Change to UQ text and button colour
prm-collection-search button.search-button.md-button.md-primoExplore-theme {
  opacity: 1;
}

// Main Collection Lobby and Collection display
// Issue: Entering a collection applies a dark overlay. Remove overlay.
prm-explore-main .header .transparent-top-bar:before ,
prm-topbar > div::before {
  background-color: inherit;
  opacity: 0;
}

// In Display of View Grid or View Gallery, when hovering over the active view option, the hover background is Ex Libris teal
prm-collection-discovery-view-switcher .md-button.is-active:not([disabled]) {
  &:focus,
  &:focus:focus,
  &:focus:hover,
  &:focus._md-focused,
  &:focus.hovered,
  &:focus.md-focused,
  &:hover,
  &:hover:focus,
  &:hover:hover,
  &:hover._md-focused,
  &:hover.hovered,
  &:hover.md-focused,
  &._md-focused,
  &.hovered,
  &.md-focused {
    color: #fff;
    background-color: $accent-color;
  
  }
}

// Searching within collections, the line for the search box extends into the search icon
prm-collection-search button.search-button.md-button.md-primoExplore-theme.md-ink-ripple:not(.is-shifted){
  margin-left: 40px;
}
