prm-full-view {

  // title of an item in full view display
  prm-brief-result .item-title {

    a, a:hover {
      background-color: transparent;
      box-shadow: none;
      text-decoration: none;
    }

    span {
      color: $dark !important;
    }
  }
}