prm-search-bar {
  .search-switch-buttons {
    padding-top: 0;

    .md-button {

      &.switch-to-advanced,
      &.switch-to-simple {

        color: #333 !important;
        background-color: transparent !important;
        font-size: 16px;
        padding: 11px;

      }

      &.switch-to-advanced:hover,
      &.md-button.switch-to-simple:hover {
        color: $primary !important;
      }

      &.switch-to-advanced:focus,
      &.switch-to-simple:focus {
        outline: $accent-color-light auto 5px !important;
        color: $primary !important;
      }

    }
  }
}

.md-button[aria-label="Search"], .md-button.button-confirm{
  background-color: $primary !important;
  color: $white !important;
}

.md-button[aria-label="Search"]:hover, .md-button.button-confirm:hover{
  background-color: $primary-hue2 !important;
  color: $white !important;
}

.md-button[aria-label="Search"]:focus, .md-button.button-confirm:focus {
  background-color: $primary-hue2 !important;
  color: $white !important;
  outline: $accent-color-light auto 5px !important;
}