prm-user-area {
  background-color: transparent !important;

  span, prm-icon md-icon {
    color: #333 !important;
  }

  prm-search-bookmark-filter prm-icon md-icon {
    color: #333 !important;
  }

}
