/* starting logo */
prm-logo {	
	.product-logo {
		height: 100%;
		padding: .85em;
		// max-width: 100%;
		.__xs & {
			// padding: .5em;
		}
	}
	.logo-image, img {
		max-height: 100%;
	}
	.backdrop-dark.__gt-sm & {
		@extend .topmost-index;
	}
}