/* starting copyright */

prm-copyright {
	.pre-copyrights {
		white-space: pre-wrap;
	    white-space: -moz-pre-wrap;
	    white-space: -pre-wrap;
	    white-space: -o-pre-wrap;
	    word-wrap: break-word;
	}

	h3 {
		font-size: 1.5em;
	}
}