@import "../../bower_components/uqlibrary-styles/skeleton.scss";

@import "styles-imports/chat_launch_lib";
@import "styles-imports/libcal";
@import "styles-imports/library_responsive";

html,
body {
  height: 100%;
}

body {
  font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  padding-left: 0;
  padding-right: 0;
  background: #fafafa;
}

a ,
  a:hover ,
  a:active {
  color: $accent-color;
}

.btn-primary,
.btn-default {
  background-color: $accent-color;
  background-image: none;
  border: none;
  border-radius: 2px;
  color: white;
}

.btn-primary:hover,
.btn-default:hover {
  background-color: $accent-color;
  background-image: none;
  border: none;
  color: white;
}

.btn-primary:active,
.btn-primary:focus,
.btn-default:active,
.btn-default:focus {
  background-color: $accent-color;
  background-image: none;
  border: none;
  color: white;
}

.uq-header {
  border-radius: 0;
  background-color: $theme-color;
  height: 60px;
  height: 3.75rem;
  margin-bottom: 0;
  border: none;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
  -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
}

.uq-footer {
  border-radius: 0;
  background-color: $theme-color;
  padding-top: 16px;
  padding-top: 1rem;
  font-size: 12px;
  font-size: 0.75rem;
  height: auto;
  color: white;
  margin: 0;
}

.uq-footer a {
  color: white;
}

.uq-line {
  height: 62px;
  height: 3.8rem;
  margin: -2px -15px;
}

.container>.navbar-header,
.container-fluid>.navbar-header,
.container>.navbar-collapse,
.container-fluid>.navbar-collapse {
  margin: 0;
}

.uq-header-logo {
  float: left;
  height: 40px;
  height: 2.5rem;
  margin-top: 10px;
  padding-right: 15px;
}

.uq-header-logo:hover,
.uq-header-logo:focus,
.uq-header-logo:active {
  -webkit-filter: drop-shadow(0 0 1px #aaa);
}

.uq-library-header-logo {
  float: left;
  color: #fff;
  font-size: 24px;
  font-size: 1.5rem;
  margin-top: 14px;
  margin-left: 15px;
  -webkit-font-smoothing: antialiased;
}

.uq-library-header-logo:hover,
.uq-library-header-logo:active,
.uq-library-header-logo:focus {
  color: #fff;
  text-decoration: none;
  -webkit-filter: drop-shadow(0 0 1px #aaa);
}

.uq-library-header-logo:hover {
  color: #fff;
  text-decoration: none;
}

.uq-header .navbar-header {
  float: none;
}

.tab-content {
  background-color: $menu-background-color;
  padding: 5px 16px 16px 16px;
  margin-top: -8px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 2px 2px;
}

// some tabs came in with a border and padding
.paper-tab-0 {
  padding: 0;
}

// vertically align the tabs as normal
div#tabsContent {
  padding-top: 16px;
  padding-top: 1rem;
}

// apply 'current marker' border to contact tab
paper-tab:nth-child(8) div.tab-content {
  border-bottom: 2px solid #666;
}

// rightnow styling
body.library {
  background-color: #fff;
  color: inherit;
  font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
}
body.library #rn_Container .columns {

}


#rn_PageTitle,
#rn_PageContent,
#uq_AskQuestionContent {
  background-color: #fff;
  color: inherit;
  border-radius: 2px;
  border: 1px solid #ccc;
  margin: 10px 0 20px 0;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12),0 3px 1px -2px rgba(0,0,0,.2);
}
#rn_PageContent {
  padding-top: 16px;
}
#rn_Body {
  .rn_AnswerList {
    width: 69%;
  }
  #rn_SearchControls {
    padding-top: 16px;
    padding-top: 1rem;
  }
}
.rn_AskQuestion {
  padding-top: 1px;
  padding-left: 70%;
}
#uq_AskQuestionContent {
  h2 {
    font-size: 16px;
    font-size: 1rem;
    margin: 0;
    line-height: normal;
    color: #333;
    background-color: inherit;
    padding: 16px;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
  }
  ul {
    padding: 16px;
    padding: 1rem;
  }
  .rn_NavigationTab a {
    padding: 0;
    font-weight: normal;
  }
}
.rn_AskQuestion {
  ul,
  ul li {
    list-style: none;
    padding: 0 0 16px 0;
    padding: 0 0 1rem 0;
    margin: 0;
  }
  ul li.hasIcon > span:first-child {
    padding-right: 7px;
  }
}
.rn_Hours,
.rn_HoursPrefix {
  font-size: 14px;
  font-size: 0.9rem;
}
ul .rn_ChatHours .rn_HoursBlock {
  margin-top: 0;
}
div.rn_CurrentTime {
  display: none;
}

// style the chat online/offline link
.conditionalWidget .rn_ConditionalChatLink .rn_Chat {
  a { // button
    display: inline-block;
    padding: 6px 12px;
    padding: 0.4rem 0.75rem;
    margin-bottom: 0;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: $accent-color-light;
    color: #fff;
  }
  span { // message
    display: block;
    background-color: inherit;
    font-weight: normal;
    color: #676767;
    background-color: inherit;
  }
}


// login/out link
#rn_LoginStatus {
  float: right;
  margin-left: 20px;
  margin-left: 1.25rem;
  padding-top: 20px;
  padding-top: 1.25rem;
}
.crmpersonaldetails {
  float: right;
  padding-top: 40px;
  padding-top: 2.5rem;
}

ol.breadcrumb {
  padding: 0 15px 8px 15px;
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
  margin-left: 0;
  list-style: none;
  display: block;
}
ol.breadcrumb > li {
  display: inline-block;
}
.breadcrumb > li + li:before {
  padding: 0 5px;
  color: #ccc;
  content: "/\00a0";
}
.breadcrumb-home iron-icon {
  height: 24px;
  height: 1.5rem;
  margin-top: -3px;
}

div.breadcrumbs,
#rn_Container,
.lib_pagetop {
  background-color: $secondary-color-light;
  color: inherit;
}
.lib_pagetop .rn_FieldDisplay .rn_DataValue.rn_LeftJustify {

}


div.breadcrumbs {
  padding-bottom: 16px;
  padding-bottom: 1rem;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;

}
.breadcrumb-trail a {
  color: #676767;
}

body.library #rn_Container {
  background-color: #fff;
  color: #000;
}

.breadcrumbs ol.breadcrumb-trail ,
.breadcrumbs ol.breadcrumb-trail li:first-child {
  padding-left: 0;
}
ol.breadcrumb li a {
  font-weight: 300;
}




// styling libcal widget output

h3 {
  font-size: 16px;
  font-size: 1rem;
}
/* get the mega menu layout right */
.paper-tab-0:not(.iron-selected) > .tab-content.paper-tab {
  border-width: 0;
  box-shadow: 0 0 #fff;
}
.lib_pagetop.small-12.large-12.columns {
  margin-top: 3px;
}

.panel-pane__content {
  padding-top: 2em;
}
#rn_Navigation {
  margin-bottom: 0;
  padding-bottom: 0;
}

body.library #rn_Container .row .columns {
  height: auto;
  background-color: $secondary-color-light;
  margin-top: 0;
}


.rn_RelatedAnswers ul,
.rn_RelatedAnswers ul>li ,
.rn_PreviousAnswers ul ,
.rn_PreviousAnswers ul > li {
  margin-left: 16px;
  margin-left: 1rem;
}

.rn_TextInput.rn_Input label,
.rn_KeywordText label {
  font-size: 16px;
  font-size: 1rem;
  display: block;
  padding-left: 0;
  color: #000;
}

.rn_KeywordText input {
  width: 90%;
  font-size: 16px;
  font-size: 1rem;
  padding: 8px;
  padding: 0.5rem;
}
h1.page__title {
  margin-bottom: 0;
}
h1.page__title .rn_FieldDisplay.rn_Output ,
h1.page__title .rn_FieldDisplay.rn_Output .rn_DataValue ,
.rn_AnswerList .rn_FieldDisplay.rn_Output ,
.rn_AnswerList .rn_FieldDisplay.rn_Output .rn_DataValue {
  margin-left: 0;
}
.rn_AnswerList .rn_FieldDisplay.rn_Output ol ,
.rn_AnswerList .rn_FieldDisplay.rn_Output ol > li ,
.rn_AnswerList .rn_FieldDisplay.rn_Output ul ,
.rn_AnswerList .rn_FieldDisplay.rn_Output ul > li {
  margin-left: 10px;
  margin-left: 0.625rem;
}

h3 {
  font-weight: bold;
  margin-top: 16px;
  margin-top: 1rem;
}
.rn_AnswerList p {
  margin-top: 16px;
  margin-top: 1rem;
  margin-bottom: 16px;
  margin-bottom: 1rem;
}
.rn_AnswerList p,
.rn_AnswerList li {
  font-weight: 300;
}
#navigation-icons {
  padding-bottom: 16px;
  padding-bottom: 1rem;
}
.panel-pane__content .rn_FieldDisplay {
  margin-left: 0;
  font-weight: 300;
}
.panel-pane__content h1 {
  font-weight: 800;
}

a {
  color: $accent-color;
}
.search-tips {
  padding-top: 16px;
  padding-top: 1rem;
}
.rn_AnswerList #rn_SearchControls .rn_SearchButton {
  padding-left: 0;
}


li.syndicatedWidget .rn_ConditionalChatLink #myChatLink #myChatLinkInfo span {
  background-color: $accent-color-light;
  color: #fff;
  padding: 0;
  font-weight: normal;
  border-radius: 4px;
  display: inline;
  padding: 10px;
  padding: .625rem;
}
li.syndicatedWidget .rn_ConditionalChatLink div a {
  background-color: $accent-color-light;
  color: #fff;
  padding: 10px;
  padding: .625rem;
}

.rn_Paginator a {
  color: $accent-color
}
.rn_Paginator a:hover {
  background-color: $accent-color
}


// hide yucky links
#back-icon ,
.rn_EmailAnswerLink {
  display: none;
}