#main {

  // material icons:
  // calendar:
  //

  #columns { // table!!
    #content {
      .event_type {
        display: none;
      }

      div.event * {
        font-size: 1rem;
      }
      div.event h1 {
        font-size: 28px;
        font-size: 1.75rem;
      }

      .event_title {
        margin-top: 0.3rem;
        background-color: $theme-color-lighter;
        color: $menu-background-color;
        padding: 96px 0 16px 24px;
        padding: 6rem 0 1rem 1.5rem;
        margin-right: 32px;
        margin-right: 2rem;
      }

      div strong {
        // item headers
        font-size: 1.25em;
        font-weight: 500;
        color: #000;
      }

      div.event_date,
      div.event_time,
      div.event_venue,
      div.event_summary,
      div.event_details,
      div.event_booking {
        strong,
        br {
          display: none;
        }
      }

      div.event_time,
      div.event_venue,
      div.event_details {
        margin-left: 20px;
        &:before {
          margin-left:20px;
        }
        span {
          margin-left:20px;

        }
      }

      // styling icons
      // https://github.com/google/material-design-icons/issues/150
      div.event_date,
      div.event_summary p,
      div.event_booking_stat .num {
        padding-left: 32px;
        &:before {
          @extend .material-icons;
          vertical-align: top;
        }
      }
      div.event_date:before {
        content: 'today';
      }
      div.event_summary p:before {
        content: 'speaker_notes';
      }
      div.event_booking_stat .num:before {
        content: 'people';
      }

      // make the two divs run inline
      div.event_booking_stat {
        .num,
        .desc {
          display: inline;
        }
        .desc {
          padding-left: 2px;
        }
      }



/*
      div.event_venue {
        font-weight: 400;
        font-size: inherit;
      }

      div.event_details p,
      div.event_summary p {
        margin-top: -4px;
      }

      .event_date {
        margin-top: 2rem;
        font-weight: normal;
        font-size: inherit;
      }
      .event_time {
        font-weight: normal;
      }
*/
      .event_booking {
        border-top-width: 0;
        h2 {
          display: none;
        }
        .event_booking_stat.first,
        .event_booking_stat {
          border-width: 0; // removed dotted borders
          float: none;
          margin: 11px 0 0 0;
          padding: 0;
        }

        form {
          margin-top: 8px;
        }
        input[type="submit"] {
          border: 0 solid transparent;
          cursor: pointer;
          font-weight: normal;
          line-height: normal;
          margin: 0 0 20px;
          margin: 0 0 1.25rem;
          position: relative;
          text-decoration: none;
          text-align: center;
          -webkit-appearance: none;
          -webkit-border-radius: 0;
          display: inline-block;
          padding: 16px 32px 17px 32px;
          padding-top: 1rem;
          padding-right: 2rem;
          padding-bottom: 1.0625rem;
          padding-left: 2rem;
          font-size: 16px;
          font-size: 1rem;
          background-color: $accent-color;
          color: #fff;
          transition: background-color 300ms ease-out;
        }

      }

      #message {
        padding: 10px;
      }
      #message.flash {
        color: #000;
        background-color: $accent-color-lighter;
      }

    }

  }

}

.event_booking_stat {
  width: auto;
}

.nubbin {
  // this class controls the positioning of the little 'edit' nubbin
  // the changes to the layout to match uq meant it could not be moused over
  // pull back inside the block so it can be moused over
  // only admins will see this
  left: inherit;
  right: 10px;
}



