#container #center ul.event_list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  li {
    list-style: none;
    margin-left: 0;
    margin-bottom: 11px;
    margin-bottom: 0.7rem;
    padding: 8px 16px;
    padding: 0.5em 1em;
    background-color: $secondary-color-light;
    color: inherit;

    span {
      font-weight: bold;
    }

    .campus {
      font-weight: 200;
    }
  }

  a,
  a:visited {
    background-color: $secondary-color-light;
    font-size: 28px;
    font-size: 1.75rem;
  }

  .caption {
    color: $secondary-color-dark;
    font-style: inherit;
  }
}

body.listpage table#columns td#right.sidebar {
  // listpage is added in by load.js
  // the listpage doesnt need the duplication of the sidebar
  display: none;
}

