#head {
  background-color: #fff;
  border-bottom-width: 0;
  border-top-width: 0;
  padding-top: 0;
  padding-left:0;

  a {
    color: inherit; // override careerhub color
  }

  .inner {
    margin: 0;
    width: auto;
  }

  h1 {
    // match h3 in drupal
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 1.25;
    margin-top: 0;
  }

  #sitename {
    // match h2 in drupal theme
    font-size: 16px;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.25;
    margin-top: 10px;
    margin-top: 0.6rem;
    margin-bottom: 16px;
    margin-bottom: 1rem;

    // make case match uql usage - first character uppercase, all other letters lower case
    text-transform: lowercase;
    &::first-letter {
      text-transform: uppercase;
    }

    a {
      color: #000 !important;

      text-decoration: none;
      cursor: default;
    }
  }

}


ol.breadcrumbList {
  padding-left: 0;
  margin: 10px 0 0 0;
  height: 40px;
  height: 2.5rem;
  font-size: 13px;
  font-size: 0.8rem;
  line-height: 13px;
  li {
    display: inline;
    list-style-type: none;
    &:before {
      content: 'chevron_right';
      vertical-align: top;
      margin-top: -3px;
      line-height: 0.9;
    }
    &:first-child {
      a {
        padding-left: 0;
      }
    }
    &:first-child:before {
      content: "";
    }
    paper-icon-button {
      padding: 0;
      width: 20px;
    }
    iron-icon {
      width:20px;
      height: 20px;
      margin-top: -3px;
    }
  }
}

#user_info, // hide the careerhub user welcome
#links  // hide the careerhub header menu
{
  display: none;
}

ol.breadcrumbList {
  // this should only limit excessively long event titles
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
}


@media only screen and (max-width: 700px) {
  #main #columns #content h1.event_title {
    margin-right: 0;
    padding-right: 24px;
    padding-right: 1.5rem;
  }
  #head {
    padding-top: 1rem;
  }
  .nonMobile {
    // hidden from all users
    display: none;
  }

  .staffdevhomepage a span ,
  .staffdevhomepage span span {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
  }
  .staffdevhomepage span,
  .staffdevhomepage a {
    text-transform: capitalize;
  }


}

@media only screen and (min-width: 700px) {
  .mobileOnly {
    // hidden from all users
    display: none;
  }
}

