#head {
  background-color: #fff;
  border-bottom-width: 0;
  border-top-width: 0;
  padding-top: 3.5rem;
  padding-left:0;

  .inner {
    margin: 0;
  }

  h1 {
    // match h3 in drupal
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 1.25;
    margin-top: 0;
  }

  #sitename {
    // match h2 in drupal theme
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.25;
    margin-bottom: 0.2rem;

    // make case match uql usage - first character uppercase, all other letters lower case
    text-transform: lowercase;
    &::first-letter {
      text-transform: uppercase;
    }

    a {
      color: #000 !important;

      text-decoration: none;
      cursor: default;
    }
  }

}

#user_info, // hide the careerhub user welcome
#links  // hide the careerhub header menu
{
  display: none;
}

@media only screen and (max-width: 700px) {
  #head {
    padding-top: 1rem;
  }
}

