#main {

  #columns { // table!!

    .sidebar { //right hand nav bar of table
      background-color: $footer-background-color;
      color: #222;
      border-width: 0;
      font-size: inherit;

      h3 {
        border-bottom-width: 0;
        line-height: 1.25;
        font-size: 1.3em;
        background-color: #fff;
        color: #222;
      }

      .body { // block of upcoming events links
        // 'upcoming events' header
        ul {
          margin: 0;
          padding:0;
        }
        li {
          list-style: none;
          border-bottom: 1px solid $footer-background-color;

          br {
            display: none;
          }

          // make the date display above the title
          a { // name of event
            display: block;
            padding-top: 1em;
          }
          .caption { // timestamp
            position: absolute;
            top: 0;
          }
          position: relative;
          padding: .8rem 0 .8rem 0;
          margin-bottom: 0.5rem;

        }

        // more events button at bottom of list
        position: relative;
        & > a {
          position: absolute;
          right: 0;
          background-color: $accent-color;
          color: $menu-background-color;
          padding: 9px 13px;
          padding: 0.8rem;
          display: block;
          width: 56px;
          width: 7rem;
          text-align: center;
          text-transform: uppercase;
          text-decoration: none;
          font-size: 0.8em;
        }

      }

      a {
        line-height: 1.25;
      }
    }

    li, p {
      font-size: 16px;
      line-height: 1.5;
    }
  }
}

