#main {

  #columns { // table!!

    .sidebar { //right hand nav bar of table
      background-color: #fff;
      border-width: 0;
      font-size: inherit;

      .body { // block of upcoming events links
        li {
          list-style: none;
          border-bottom: 1px solid $footer-background-color;
          //        padding: 0.8rem 0;

          a {
            //          display: block;
            //          padding: 0;
            //          text-decoration: none;
            //          width: 100%;
            //          position: relative;
          }
          br {
            display: none;
          }

          // make the date display above the title
          a { // name of event
            display: block;
            padding-top: 2em;
          }
          .caption { // timestamp
            display: block;
            margin-top: -3em;
          }
          padding: .8rem 0 2rem 0;
        }
      }

      // 'upcoming events' header
      h3 {
        color: #000;
        border-bottom-width: 0;
        line-height: 1.25;
        font-size: 1.3em;
      }

      a {
        color: $accent-color;
        line-height: 1.25;
      }
      a:hover, a:focus {
        text-decoration: underline;
      }
    }

    li, p {
      font-size: 16px;
      line-height: 1.5;
    }
  }
