/* starting facetRange */
prm-facet-range {
  .section-title {
    prm-icon {
      color: $secondary-hue3;
    }

    &:hover,
    &:focus {
      background-color: transparent !important;

      span {
        color: $secondary-hue3;
      }
    }
  }
}