@import "../../bower_components/uqlibrary-styles/skeleton";

uql-menu div#scrim {
  z-index: 1000;
}

body.ia-enabled {
  uq-minimal-header {
    overflow: visible !important;
    z-index: 1000;
  }

  body.admin-menu  {
    margin: 0px !important;
  }

  #overlay-container {
    z-index: 1001;

    .overlay-element {
      z-index: 1002;
    }

  }

  /* hide Drupal header/footer */
  #zone-postscript-wrapper,
  #section-header,
  #section-footer {
    display: none;
  }

  #section-content {
    #zone-content-wrapper {
      margin-top: 20px;
    }
  }

  /* Default Layout */
  @media all and (min-width: 740px) and (min-device-width: 740px),
  (max-device-width: 800px) and (min-width: 740px) and (orientation: landscape) {
    background-position: 50% 64px;

    #section-content {
      #zone-content-wrapper {
        margin-top: 107px;
      }
    }

  }

  /* Narrow Layout */
  @media all and (min-width: 740px) and (min-device-width: 740px),
  (max-device-width: 800px) and (min-width: 740px) and (orientation: landscape) {
    &.front {
      &.responsive-layout-mobile {
        #region-content #uql-search {
          margin-top: 164px;
        }
      }
    }
    #section-content {
      #zone-content-wrapper {
        margin-bottom: 20px;
      }
    }
  }

  /* Wide Layout */
  @media all and (min-width: 1048px) {
    background-position: 50% 66px;

    &.front {
      &.responsive-layout-mobile {
        #region-content #uql-search {
          margin-top: 180px;
        }
      }
    }

    #section-content {
      #zone-content-wrapper {
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }

    &.admin-menu {
      #section-content {
        #zone-content-wrapper {
          margin-top: 20px;
        }
      }
    }
  }

  @media all and (max-width: 739px) {
    #uql-search {
      margin-top: 107px !important;
    }
  }
}
