#preloader {
  display: block; }
  #preloader .header {
    width: 100%;
    height: 64px;
    color: #FFF;
    background-color: #49075E;
    line-height: 64px;
    padding-left: 10px;
    font-family: 'Roboto', 'helvetica', 'times new roman', 'sans-serif';
    font-size: 20px; }
  #preloader .preloader-card {
    margin: 16px auto;
    background-color: #FFF;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }
  #preloader .preloader-card p {
    font-family: 'helvetica', 'times new roman', 'sans-serif';
    color: #595959; }
  #preloader .preloader-card h2 {
    line-break: auto;
    white-space: normal;
    font-size: 1.8em;
    color: #757575;
    font-weight: 400;
    line-height: 1.1em; }
  #preloader #preloader-loading {
    text-align: center;
    text-transform: uppercase;
    padding: 40px;
    display: none; }
  #preloader #preloader-unsupported {
    padding: 20px 40px 40px 40px;
    display: none; }

body {
  margin: 0px;
  padding: 0px; }

uq-minimal-header {
  height: 100px;
  display: block;
  background-color: #49075E;
  width: 100%; }

uq-minimal-footer {
  display: block;
  width: 100%;
  background-color: #49075E;
  min-height: 140px; }

uql-connect-footer {
  display: block;
  width: 100%;
  background-color: #e5e5e5;
  min-height: 240px; }

@media all and (max-width: 1047px) {
  uq-minimal-header {
    height: 66px; } }
@media all and (min-width: 1048px) {
  uql-menu {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px 0px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px 0px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px 0px;
    display: block;
    width: 100%;
    height: 67px;
    background-color: #fff; } }
.libcal-hours-block caption,
#libcal-hours-block caption {
  position: absolute;
  top: -9999px;
  left: -9999px; }
.libcal-hours-block tbody td,
.libcal-hours-block thead th,
#libcal-hours-block tbody td,
#libcal-hours-block thead th {
  text-align: center; }
.libcal-hours-block tbody td.s-lc-whw-locname,
.libcal-hours-block tbody td.s-lc-whw-sublocname,
#libcal-hours-block tbody td.s-lc-whw-locname,
#libcal-hours-block tbody td.s-lc-whw-sublocname {
  text-align: left; }
.libcal-hours-block thead tr th,
.libcal-hours-block td.s-lc-whw-today,
.libcal-hours-block th.s-lc-whw-today-h,
#libcal-hours-block thead tr th,
#libcal-hours-block td.s-lc-whw-today,
#libcal-hours-block th.s-lc-whw-today-h {
  background-color: #F5F5F5;
  border-color: #e5e5e5; }
.libcal-hours-block tr.s-lc-whw-loc,
#libcal-hours-block tr.s-lc-whw-loc {
  background-color: #fcfcfc; }
.libcal-hours-block tbody tr.s-lc-whw-loc td.s-lc-whw-locname,
#libcal-hours-block tbody tr.s-lc-whw-loc td.s-lc-whw-locname {
  font-weight: 500; }
.libcal-hours-block tr.s-lc-whw-footnote td,
#libcal-hours-block tr.s-lc-whw-footnote td {
  text-align: left; }
.libcal-hours-block tbody tr.s-lc-whw-loc td,
#libcal-hours-block tbody tr.s-lc-whw-loc td {
  position: absolute;
  top: -9999px;
  left: -9999px; }
.libcal-hours-block .s-lc-whw-bh,
#libcal-hours-block .s-lc-whw-bh {
  min-width: 21rem; }

button.s-lc-whw-ne:before {
  content: 'Next week '; }

button.s-lc-whw-pr:after {
  content: ' Prev week'; }

#libcal-hours-block-0.libcal-hours-block tbody tr.s-lc-whw-loc td {
  position: relative;
  top: auto;
  left: auto; }

@media only screen and (max-width: 760px) {
  #libcal-hours-block-0.libcal-hours-block tbody tr.s-lc-whw-loc td {
    position: absolute;
    top: -9999px;
    left: -9999px; }
  #libcal-hours-block-0.libcal-hours-block tbody tr.s-lc-whw-loc td.s-lc-whw-locname {
    position: relative;
    top: auto;
    left: auto; }

  .libcal-hours-block table,
  #libcal-hours-block table {
    width: 90%; }
  .libcal-hours-block table, .libcal-hours-block thead, .libcal-hours-block tbody, .libcal-hours-block th, .libcal-hours-block td, .libcal-hours-block tr,
  #libcal-hours-block table,
  #libcal-hours-block thead,
  #libcal-hours-block tbody,
  #libcal-hours-block th,
  #libcal-hours-block td,
  #libcal-hours-block tr {
    display: block; }
  .libcal-hours-block thead tr,
  #libcal-hours-block thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
    border-width: 0; }
  .libcal-hours-block tbody tr.s-lc-whw-loc td.s-lc-whw-locname,
  #libcal-hours-block tbody tr.s-lc-whw-loc td.s-lc-whw-locname {
    display: block;
    padding-left: 0;
    margin: 0 auto;
    text-align: center;
    font-weight: bold; }
  .libcal-hours-block tbody td.s-lc-whw-sublocname,
  #libcal-hours-block tbody td.s-lc-whw-sublocname {
    padding-left: 1rem;
    font-weight: bold; }
  .libcal-hours-block tbody tr,
  #libcal-hours-block tbody tr {
    border: 1px solid #ccc; }
  .libcal-hours-block td,
  #libcal-hours-block td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%; }
  .libcal-hours-block td:before,
  #libcal-hours-block td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap; }
  .libcal-hours-block td:nth-of-type(2):before,
  #libcal-hours-block td:nth-of-type(2):before {
    content: "Monday"; }
  .libcal-hours-block td:nth-of-type(3):before,
  #libcal-hours-block td:nth-of-type(3):before {
    content: "Tuesday"; }
  .libcal-hours-block td:nth-of-type(4):before,
  #libcal-hours-block td:nth-of-type(4):before {
    content: "Wednesday"; }
  .libcal-hours-block td:nth-of-type(5):before,
  #libcal-hours-block td:nth-of-type(5):before {
    content: "Thursday"; }
  .libcal-hours-block td:nth-of-type(6):before,
  #libcal-hours-block td:nth-of-type(6):before {
    content: "Friday"; }
  .libcal-hours-block td:nth-of-type(7):before,
  #libcal-hours-block td:nth-of-type(7):before {
    content: "Saturday"; }
  .libcal-hours-block td:nth-of-type(8):before,
  #libcal-hours-block td:nth-of-type(8):before {
    content: "Sunday"; }
  .libcal-hours-block td.s-lc-whw-today:before,
  #libcal-hours-block td.s-lc-whw-today:before {
    content: "Today";
    font-weight: bold; }
  .libcal-hours-block tr.s-lc-whw-footnote td,
  #libcal-hours-block tr.s-lc-whw-footnote td {
    text-align: left;
    padding-left: 1rem; } }
uql-menu div#scrim {
  z-index: 1000; }

/* let admin menu overlap UQ Library header */
html body.logged-in.admin-menu {
  margin-top: 0 !important; }

body.ia-enabled {
  /* hide Drupal header/footer */
  /* Default Layout */
  /* Narrow Layout */
  /* Wide Layout */ }
  body.ia-enabled uq-minimal-header {
    overflow: visible !important;
    z-index: 1000; }
  body.ia-enabled #overlay-container {
    z-index: 1001; }
    body.ia-enabled #overlay-container .overlay-element {
      z-index: 1002; }
  body.ia-enabled #mobile-user-greeting,
  body.ia-enabled #zone-postscript-wrapper,
  body.ia-enabled #section-header,
  body.ia-enabled #section-footer {
    display: none; }
  @media all and (min-width: 740px) and (min-device-width: 740px), (max-device-width: 800px) and (min-width: 740px) and (orientation: landscape) {
    body.ia-enabled {
      background-position: 50% 64px; } }
  @media all and (min-width: 740px) and (min-device-width: 740px), (max-device-width: 800px) and (min-width: 740px) and (orientation: landscape) {
    body.ia-enabled #section-content #zone-content-wrapper {
      margin-bottom: 20px; } }
  @media all and (min-width: 1048px) {
    body.ia-enabled {
      background-position: 50% 66px; }
      body.ia-enabled.front.responsive-layout-mobile #region-content #uql-search {
        margin-top: 180px; }
      body.ia-enabled #section-content #zone-content-wrapper {
        margin-top: 20px;
        margin-bottom: 20px; }
      body.ia-enabled.admin-menu #section-content #zone-content-wrapper {
        margin-top: 20px; } }

.page {
  min-height: calc(100vh - 450px);
  position: relative; }

#admin-menu {
  z-index: 1001 !important; }

input.paper-input {
  margin: 0 !important;
  height: 24px !important; }

/*# sourceMappingURL=custom-styles.css.map */
