$uqblue-half-opacity: rgba(35, 119, 203, .5);
$uqblue: #2377CB;

li#formActionsContainer input[type="submit"]#exlidRequestTabFormSubmit, // Place a Request button blue
a#displayHolding,
ul#PAGING input // warehouse pagination buttons
{
  color: $uqblue;
}

// stackmap button styling
.holdingsList a.locate,
.holdingInfo a.locate {
  background-color: $uqblue;
  color: #fff;
  font-size: 14px!important;
  font-weight: 300;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: 1px;
  text-transform: initial;
  padding: 4px 3.75px;
  min-width: 95px;

  &:before {
    // white-ish map-pin
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAOCAYAAAAWo42rAAABQUlEQVQokXWQTUoDQRCFq7qbDBEmcSkB9QAu4lZc6SUEL+HCZQ6QfbZ6g+yzEjyC4MYbGMEMSc/0jP3foQYHQzAPGh6Pr4t6BSklMMaAUuraOTePMRb0rLXzuq6viqKA79UKwHsPzrn7dECVUnctKGV5uodsUkpyN1BKjZgQ/BF+5Zx7aZrmrK7rc+/9a5cLIR4wxrhBxCEFUspxCOGdPBficjgYvJEPIXyylBLvfmZZdhtjbAtmvd5NlyPiALTWT7v7aK2nxpjpXvYMTdOM/+/7J2JAliWVWByCnPcLYnC9XgPn/CTP82W3064qpUbB+yVDRLDWfRljZvuQtXbmnVtyzgGrqgJqioi9PM83ANAnKKX0U5blMfE0jFHIGCPYaq0n3TRjzCSE2ELtiZRSraHbJQA46vc/EDFqrS86CABgC2sZRhADZd/iAAAAAElFTkSuQmCC);
  }
}

// Place a Request button on form should be blue
#formActionsContainer input[type="submit"]#submitPurchaseRequest {
  color: $uqblue;
}

.requestForm li input:not([readonly]),
.requestForm li textarea:not([readonly]),
.requestForm li select:not([readonly]),
.purchaseRequest li input:not([readonly]),
.purchaseRequest li textarea:not([readonly]),
.purchaseRequest li select:not([readonly]) {
  box-shadow: 0 1px 0 0 $uqblue-half-opacity;
}

div.serialSelection * {
  color: #333;
}
.itemsList table tbody tr td:first-child {
  color: #2377CB;
}