li#formActionsContainer input[type="submit"]#exlidRequestTabFormSubmit, // Place a Request button blue
a#displayHolding,
ul#PAGING input // warehouse pagination buttons
{
  color: #2377CB;
}

// stackmap button styling
.holdingsList a.locate,
.holdingInfo a.locate {
  background-color: #2377CB;
  color: #fff;
  font-size: 15px!important;
  font-weight: 300;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: 1px;
  text-transform: capitalize;

  &:before {
    // white-ish map-pin
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAOCAYAAAAWo42rAAABQUlEQVQokXWQTUoDQRCFq7qbDBEmcSkB9QAu4lZc6SUEL+HCZQ6QfbZ6g+yzEjyC4MYbGMEMSc/0jP3foQYHQzAPGh6Pr4t6BSklMMaAUuraOTePMRb0rLXzuq6viqKA79UKwHsPzrn7dECVUnctKGV5uodsUkpyN1BKjZgQ/BF+5Zx7aZrmrK7rc+/9a5cLIR4wxrhBxCEFUspxCOGdPBficjgYvJEPIXyylBLvfmZZdhtjbAtmvd5NlyPiALTWT7v7aK2nxpjpXvYMTdOM/+/7J2JAliWVWByCnPcLYnC9XgPn/CTP82W3064qpUbB+yVDRLDWfRljZvuQtXbmnVtyzgGrqgJqioi9PM83ANAnKKX0U5blMfE0jFHIGCPYaq0n3TRjzCSE2ELtiZRSraHbJQA46vc/EDFqrS86CABgC2sZRhADZd/iAAAAAElFTkSuQmCC);
  }

  &:hover {
    background-color: #2377CB;
    color: #A9A9A9;
  }
}
