li#formActionsContainer input[type="submit"]#exlidRequestTabFormSubmit,
a#displayHolding {
  color: #2377CB;
}

.holdingsList .locate {
  background-color: #51247A;
  color: #fff;
  text-transform:capitalize;
  padding: 10px 30px 10px 15px;
  font-size: 15px !important;
  font-weight: normal;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}
