prm-tags-list {
	._md-chip-remove md-icon {
	    height: 1px;
	    width: 1px;
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    -webkit-transform: translate3d(-50%,-50%,0);
	    transform: translate3d(-50%,-50%,0);
	    color: tomato;
	    min-height: 18px;
    	min-width: 18px;
	}

.error-response {
   color: tomato;
}

.tagNameRTL {
	display: inline-block;
}

	.md-chips, md-chips {
		box-shadow: none;
		.md-chip, md-chip {
			padding: 0;
			background-color: transparent;
			line-height: auto;
			margin-right: 1.5em;
			prm-icon {
				color: transparentize($dark, .6);
				md-icon {
					@include setSize(20px)
				}
				svg {
					width: 100%;
					height: 100%;
				}
			}
			.md-chip-content {
				cursor: pointer;
				em {
					color: initial;
				}
				strong {
					@extend .prm-links;
				}
				&:hover {
					a {
						background-color: transparent;
						box-shadow: none;
					}
					strong {
						@extend a:hover;
					}
				}
			}
			.md-chip-remove {
				cursor: default !important;
			}

		}

		.md-chip-input-container, ._md-chip-input-container {
			position: relative;
			&:after {
				@extend md-input-container:after;
			}
		}
		&.md-focused {
			box-shadow: none;
			.md-chip-input-container, ._md-chip-input-container  {
				&:after {
					@extend md-input-container.md-input-focused:after;
				}
			}
		}
		&.md-removable {
			.md-chip, md-chip {
				.md-chip-content {
					padding-right: .5em;
				}
				.md-chip-remove {
					md-icon {
						@include setSize(18px);
						@extend .prm-warn
					}
				}
			}
		}
	}
}
