// styles only applied to the popup chat box
body.lib_chatlanding {
    background-image: none;

    background-color: $secondary-color-light;

    overflow: hidden;

    #rn_PageContent {
        margin:0;
        overflow: visible;
    }

    .rn_Padding{
        padding: 0;
    }

    .rn_ChatEngagementStatus {
        background-color:$secondary-color-light;
        padding: 14.5px 0 0 10px;
        padding: 0.9rem 0 0 0.625rem;
        height: 26.5px;
        height: 1.65rem;
    }

    .rn_ChatSendButton{
        margin: 0;
        float:none;
    }

    .rn_ChatAgentStatus{
        background:none;
        border:none;
        padding-left: 0;
        padding-bottom: 10px;
        padding-bottom: 0.625rem;
    }
    #rn_ChatDialogContainer {
        background-color:$secondary-color-light;
        border: none;
    }

    .rn_ChatPostMessage textarea {
        width: calc(100% - 80px); // 80px seems to leave enough room for the button
        float: left;
        padding: 8px 8px 0 8px;
        padding: 0.5rem 0.5rem 0 0.5rem;
        height: 33.6px;
        height: 2.1rem;
    }

    .rn_ChatCancelButton button {
        width: 60px;
        width: 3.75rem;
    }

     input[type="submit"], button {
        background-color: $accent-color;
        background-image: none;
        height: 44px;
        height: 2.75rem;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        -moz-box-shadow: 0 0 0 rgba(0,0,0,0);
        -webkit-box-shadow: 0 0 0;
        border: solid 1px $accent-color;
        font-size: 1.222em;
        text-shadow: none;
        margin:0;
    }



    .rn_ChatTranscript {
        background-color: $secondary-color-light;
        border: none;
        overflow: auto;
        min-height:348px;
        min-height:21.75rem;

        .rn_MessagePost {
          display:block;
          clear:both;
          border-top: 10px $secondary-color-light solid;
          border-top-width: 0.625rem;
          border-bottom: 2px $theme-color-lighter solid;
        }

    }

    .rn_MessagePost {
        color: $secondary-color;
        padding:10px;
        padding:0.625rem;
        display:block;
        font-family: Roboto, Helvetica, sans-serif;
        background-color: white;
    }

    .rn_UserTextPrefix {
        color: #0D67B3 !important;
        font-weight: bold;
    }

    .rn_AgentTextPrefix {
        color: $secondary-color-dark !important;
        font-weight: bold;

    }

    #rn_PageContent {
        padding-top: 0;
    }

    #rn_ChatDialogHeaderContainer {
        // the importants can be removed when then inline style has been removed from rightnow markup files
        background-color: #fff !important;
        color: $theme-color !important;
        padding-left: 20px;
        padding-left: 1.25rem;
        height: 50px;
        height: 3.125rem;

        h1 {
            font-weight:normal;
            font-size: 2.083em;
        }
    }

    #rn_ChatDialogHeaderButtonContainer {
        margin-right: 40px;
        margin-right: 2.5rem;
    }

    // file upload dialog doesnt come with a whitebackground by default
    .rn_Dialog.rn_ChatAttachFileDialog {
        background-color: white;
        border:  1px solid #000;
        padding: 10px;
    }

    // cancel button on file upload
    .yui3-widget-hd span.yui3-widget-buttons {
        position: absolute;
        right: 10px;
        right: 0.625rem;
    }
    .yui3-widget-ft {
        padding-top: 16px;
        padding-top: 1rem;
        .yui3-widget-buttons button {
            height: 32px;
            height: 2rem;
        }
    }

    // hide the close button - duplicates Cancel and it generates js errors
    .rn_ChatAttachFileDialog .yui3-widget-buttons .yui3-button-close {
        display: none;
    }

    // file attach button
    .rn_ChatAttachFileButton.rn_FileAttachmentUpload {
        position: relative;
        top: -44px;

        width: 50px;
    }

    // width and padding-left are associated
    .rn_ChatAttachFileButton button {
        width: 50px;
        padding: 0;
        margin-left: 5px;
    }
    .rn_ChatPostMessage {
        padding-left:43px;
    }

    #rnDialog1_c {
        width: 80%;
    }

}


body.lib_chatlaunch {
    // hack - rightnow inserts a p tag at the top of the page, which leaves
    // whitespace at the top. If we set the body background to the theme color, the p will take the color
    // of that - then we override the color further down. Nothing else removes it. :(
    background-color: $theme-color;

    background-image: none;
    overflow: hidden;

    #rn_PageContent,
    #rn_PageTitle {
        padding-top: 0;
        margin-bottom:0;
    }

    div#rn_PageTitle {
        background-color: $theme-color;
        padding-left: 20px;
        padding-left: 1.25rem;

        h1 {
            color: #fff;
            font-weight: normal;
            font-size: 2.083em;
        }
    }

    // not currently used
    div.lib_chatlaunch_header {
        padding: 15px 0 0 0;
        padding-top: 1rem;
        color: $secondary-color-dark;
        font-size: 1.222em;

        .rn_ChatLaunchFormHeader.welcometext {
            font-weight: normal;
        }
    }

    hr {
        margin: 24px 0;
        margin: 1.5rem 0;
        border-width: 1px 0 0 0;
        border-style: solid;
        border-color: $secondary-color-light;
    }

    .productcategoryinput {
        display: none
    }

    .subline {
        display: block;
        font-weight: normal;
        margin: 4px 0;
        margin: 0.25rem 0;
    }

    .rn_Required {
        display: none;
    }

    p,
    li {
        font-size: 16px;
        font-size: 1rem;
    }

    .libcal-hours-block.chatunavailable {
        max-width: 400px;
        max-width: 25rem;
    }

    .moreways {
        padding-top: 16px;
        padding-top: 1rem;
    }



    // taken from chat_launch_lib
    .rn_GridTextInput.rn_TextInput {
        width: 37.5%;
        margin-top:10px;
        margin-bottom:10px;
    }
    .rn_Padding {
        padding:0;
    }

    #rn_PageContent {
        margin:0;
        overflow: visible;
    }

    div#rn_ChatLaunchFormDiv {
        background-image: none;
        padding: 0 16px 16px 16px;
        padding: 0 1rem 1rem 1rem;
    }

    input[type="text"],
    input[type="email"] {
        width: 95%;
        padding-left: 8px;
        padding-left: 0.5rem;

        height: 48px;
        height: 3rem;
        margin-bottom: 24px;
        margin-bottom: 1.5rem;
        font-size: 19.2px;
        font-size: 1.2rem;
    }
    .rn_TextInput .rn_Label {
        display: block;
        margin-bottom: 11px;
    }

    input[type="submit"]
    , button {
        background-color: $accent-color;
        color: #fff;
        font-size: 16px;
        font-size: 1rem;

        background-image: none;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        -moz-box-shadow: 0px 0px 0px rgba(0,0,0,0);
        -webkit-box-shadow: 0px 0px 0px;
        border: solid 1px $accent-color;
        text-shadow: none;
        // legacy fix needed for ios
        -webkit-appearance: none;

    }
    form input[type="submit"]
    , form button {
        width: 240px;
        width: 15rem;

        height: 48px;
        height: 3rem;

    }
    .yui3-widget-hd {
        padding-bottom: 0.6rem;
    }


}






// chat popups - natively they look awful!
div#rnDialog1_c.yui3-widget.yui3-panel.yui3-widget-positioned.yui3-widget-stacked.yui3-widget-modal.yui3-panel-focused {
    background-color: #fff;
    color: inherit;
    border: 1px solid #000;
    left: 5%;
    padding: 8px;
    padding: 0.5rem;
}
