// styles only applied to the popup chat box
body.lib_chatlanding {
    #rn_ChatDialogHeaderContainer {
        background-color: $theme-color;
        color: #fff;

        h1 {

        }
    }
}


body.lib_chatlaunch {
    background-image: none;
    background-color: $secondary-color-light;
    overflow: hidden;

    div#rn_ChatLaunchFormDiv {
        background-image: none;
    }

    div#rn_PageTitle {
        background-color: $theme-color;
        padding-left: 20px;

        h1 {
            color: #fff;
            font-weight: normal;
            font-size: 2.083em;
        }
    }

    div.lib_chatlaunch_header {
        padding: 15px 0 0 0;
        color: $secondary-color-dark;
        font-size: 1.222em;

        .rn_ChatLaunchFormHeader.welcometext {
            font-weight: normal;
        }
    }

    hr {
        margin: 25px 0;
        border-width: 1px 0 0 0;
        border-style: solid;
        border-color: $secondary-color-light;
    }

    .productcategoryinput {
        display: none
    }

    .subline {
        display: block;
        font-weight: normal;
        margin: 4px 0;
    }

    .rn_Required {
        display: none;
    }

    p,
    li {
        font-size: 16px;
        font-size: 1rem;
    }

    .libcal-hours-block.chatunavailable {
        max-width: 400px;
        max-width: 25rem;
    }

    .moreways {
        padding-top: 16px;
        padding-top: 1rem;
    }

}




// chat popups - natively they look awful!
// first draft
div#rnDialog1_c.yui3-widget.yui3-panel.yui3-widget-positioned.yui3-widget-stacked.yui3-widget-modal.yui3-panel-focused {
    background-color: #fff;
    color: inherit;
    border: 1px solid #000;
    left: 5%;
    padding: 8px;
    padding: 0.5rem;
}
