// styles only applied to the popup chat box
body.lib_chatlanding {
    background-image: none;

    #rn_PageContent {
        padding-top: 0;
    }

    #rn_ChatDialogHeaderContainer {
        background-color: $theme-color;
        color: #fff;

        h1 {

        }
    }

    #rn_ChatDialogHeaderButtonContainer {
        margin-right: 30px;
    }
}


body.lib_chatlaunch {
    background-image: none;
    background-color: $secondary-color-light;
    overflow: hidden;

    #rn_PageContent,
    #rn_PageTitle {
        padding-top: 0;
        margin-bottom:0;
    }

    div#rn_PageTitle {
        background-color: $theme-color;
        padding-left: 20px;

        h1 {
            color: #fff;
            font-weight: normal;
            font-size: 2.083em;
        }
    }

    div.lib_chatlaunch_header {
        padding: 15px 0 0 0;
        color: $secondary-color-dark;
        font-size: 1.222em;

        .rn_ChatLaunchFormHeader.welcometext {
            font-weight: normal;
        }
    }

    hr {
        margin: 25px 0;
        border-width: 1px 0 0 0;
        border-style: solid;
        border-color: $secondary-color-light;
    }

    .productcategoryinput {
        display: none
    }

    .subline {
        display: block;
        font-weight: normal;
        margin: 4px 0;
    }

    .rn_Required {
        display: none;
    }

    p,
    li {
        font-size: 16px;
        font-size: 1rem;
    }

    .libcal-hours-block.chatunavailable {
        max-width: 400px;
        max-width: 25rem;
    }

    .moreways {
        padding-top: 16px;
        padding-top: 1rem;
    }



    // taken from chat_launch_lib
    .rn_GridTextInput.rn_TextInput {
        width: 37.5%;
        margin-top:10px;
        margin-bottom:10px;
    }
    .rn_Padding {
        padding:0;
    }

    #rn_PageContent {
        margin:0;
        overflow: visible;
    }

    div#rn_ChatLaunchFormDiv {
        background-image: none;
        padding: 0 16px 16px 16px;
        padding: 0 1rem 1rem 1rem;
    }

    input[type="text"],
    input[type="email"] {
        width: 95%;
        padding-left: 8px;
        padding-left: 0.5rem;

        height: 48px;
        height: 3rem;
        margin-bottom: 24px;
        margin-bottom: 1.5rem;
        font-size: 19.2px;
        font-size: 1.2rem;
    }
    .rn_TextInput .rn_Label {
        display: block;
        margin-bottom: 11px;
    }

    input[type="submit"], button {
        background-color: $accent-color;
        color: #fff;
        width: 240px;
        width: 15rem;
        font-size: 16px;
        font-size: 1rem;

        background-image: none;
        height: 48px;
        height: 3rem;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        -moz-box-shadow: 0px 0px 0px rgba(0,0,0,0);
        -webkit-box-shadow: 0px 0px 0px;
        border: solid 1px $accent-color;
        text-shadow: none;

    }


}




// chat popups - natively they look awful!
// first draft
div#rnDialog1_c.yui3-widget.yui3-panel.yui3-widget-positioned.yui3-widget-stacked.yui3-widget-modal.yui3-panel-focused {
    background-color: #fff;
    color: inherit;
    border: 1px solid #000;
    left: 5%;
    padding: 8px;
    padding: 0.5rem;
}
