// feedback.php
.menu__link  {
  background-image: url('images/external-link-24x24.png');
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 24px;
}

.rn_FileAttachmentUpload.rn_Input {
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}
