// this evolved from the mobile (responsive) styles in applications/libwww/_libcal.scss, but has to separate as its not @media
.libcal-hours-block {
  caption,
  tbody tr.s-lc-whw-loc td {
    position: absolute;
    top: -9999px;
    left: -9999px
  }

  tbody td.s-lc-whw-locname,
  tbody td.s-lc-whw-sublocname {
    text-align: left
  }

  tbody tr.s-lc-whw-loc td.s-lc-whw-locname {
    font-weight: 500
  }

  .s-lc-whw-bh {
    min-width: 21rem
  }

  table {
    width: 100%;
  }

  table,
  tbody,
  td,
  th,
  thead,
  tr {
    display: block
  }
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
    border-width: 0
  }
  tbody tr.s-lc-whw-loc td.s-lc-whw-locname {
    display: block;
    padding-left: 0;
    margin: 0 auto;
    text-align: center;
    font-weight: 700
  }
  tbody td.s-lc-whw-sublocname {
    padding-left: 0;
    font-weight: 700
  }
  td {
    border: none;
    border-bottom: 1px solid $secondary-color-light;
    position: relative;
    padding-left: 50%;
    height: 32px;
    height: 2rem;
    margin-top: 12px;
    margin-top: 0.75rem;
  }

  // put some padding above the 'phone hours' block
  tr:nth-of-type(2),
  tr:nth-of-type(3) {
    padding-top: 16px;
    padding-top: 1rem;
  }


  td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    padding-right: 0.625rem;
    white-space: nowrap;
    margin-top: -6px;
  }

  td:nth-of-type(2):before {
    content: "Monday"
  }
  td:nth-of-type(3):before {
    content: "Tuesday"
  }
  td:nth-of-type(4):before {
    content: "Wednesday"
  }
  td:nth-of-type(5):before {
    content: "Thursday"
  }
  td:nth-of-type(6):before {
    content: "Friday"
  }
  td:nth-of-type(7):before {
    content: "Saturday"
  }
  td:nth-of-type(8):before {
    content: "Sunday"
  }
  td.s-lc-whw-today:before {
    content: "Today";
  }
  tr.s-lc-whw-footnote td {
    text-align: left;
    padding-left: 16px;
    padding-left: 1rem;
  }

  td.s-lc-whw-today {
    font-weight: 700
  }

  tbody tr:first-child {
    border-width: 0;
  }
}

.pane--outline {
  border: 2px solid $secondary-color-light;
  padding: 28px;
  padding: 1.8rem;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}

