@media screen and (max-width: 740px) {

  body.library #rn_PageTitle.rn_AnswerList,
  body.library #rn_PageContent.rn_AnswerList,
  body.library #rn_Body .rn_AnswerList
  {
    width: 100%;
    float: none;
  }

  body.library div.rn_AskQuestion {
    width: 100%;
    padding-left: 0;
    clear: both;
  }

  body .rn_AnswerList .rn_FieldDisplay.rn_Output ul,
  body .rn_PreviousAnswers ul,
  body .rn_RelatedAnswers ul,
  body .rn_AnswerList .rn_FieldDisplay.rn_Output ol {
    margin-left: 16px;
    margin-left: 1rem;
    padding-left: 0;
  }

  // the popup dialogs
  div#rnDialog1_c.yui3-widget.yui3-panel.yui3-widget-positioned.yui3-widget-stacked.yui3-widget-modal.yui3-panel-focused {
    width: 80%;
    left: 0;
  }

  body.lib_chatlaunch {
    input {
      width: 90%;
    }
  }

  body.lib_chatlanding {
    // iphone text fields may zoom when font size is less than 16px
    .rn_ChatPostMessage textarea {
      font-size: 16px;
    }
  }

}

// between mobile and full width screen is an evil sweet spot that the ipad falls into:
// the libcal block writes all over itself without special handling at this specific width
@media only screen
and (min-width : 741px)
and (max-width : 937px) {
  .libcal-hours-block td {
    margin-top: .75rem;
    height: 51px;
    height: 3.2rem;
  }
  span.s-lc-closed ,
  span.s-lc-time {
    display: block;
    padding-top: 24px;
    padding-top: 1.5rem;
    margin-left: -32px;
    margin-left: -4rem;
  }
}

// overwrite crm styles that are hitting our mega menu in the hamburger
#drawerPanelMenu .label {
  display: block;
  font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 0;
  position: static;
  text-align: start;
  text-decoration: none;
  white-space: normal;
  padding: inherit;
  font-size: 14px;
  background-color:transparent;
  color: #222;
}