/* starting almaOtherMembers */

prm-alma-other-members {

  prm-opac {
    display: block;
  }

  .md-button._md-focused:not([disabled]),
  .md-button.hovered:not([disabled]),
  .md-button.md-focused:not([disabled]),
  .md-button:focus:not([disabled]),
  .md-button:hover:not([disabled]) {
    color: $dark;
    background-color: $background-hue6;
  }
}