#textWidget_preHeader {
  margin: 0;
}
// the include process wraps our components in a paragraph element
#textWidget_preHeader p {
  margin: 0;
}

// these styles make the footer the full width of the page
#foot {
  border-top-width: 0;
  padding-top: 0;
  padding-bottom: 0;
}
#foot .inner {
  width: auto;
}
#textWidget_footer {
  margin: 0;
}


// as per #content on library.
#container {
  max-width: 1170px;
  width: calc(100% - 32px);
  margin: 0 auto 8px;
  min-height: calc(100vh - 550px);
}

// hide the careerhub header menu
#links {
  display: none;
}