@import "../../bower_components/uqlibrary-styles/skeleton.scss";

@import "styles-imports/page-layout";


@import "styles-imports/page-header";

@import "styles-imports/event-details";

@import "styles-imports/sidebar";

// various subfields have a 'caption' class name - restyle to match uql
.caption {
  color: #000;
  font-style: inherit;
}


h1,
h2, #sitename,
h3, h4, h5, h6 {
font-weight: 500;
line-height: 1.25;
margin-top: 0;
margin-bottom: 16px;
margin-bottom: 1rem
}

h2 {
  font-size: 32px;
  font-size: 2rem
}

h1, h3 {
  font-size: 28px;
  font-size: 1.75rem;
  font-weight: 400
}
