@media screen and (max-width: 700px) {
    /* careerhub have a 1-row table for layout, with a nav column on the right. the following makes it act normally
     * technique: https://css-tricks.com/responsive-data-tables/
     */
    table#columns,
    table#columns thead,
    table#columns tbody,
    table#columns tr,
    table#columns th {
        display: block !important;
    }
    table#columns td {
        /* Behave  like a "row" */
        display: block !important;
        border: none;
        position: relative;
    }

}
