/* starting browseSearch */
prm-browse-search {
  md-list {
    &.has-list-nav {
      position: relative;
    }
    .list-nav {
      position: absolute;
      right: -48px;
      top: 0;
      height: 100%;
      .list-nav-inner {
        height: 100%;
      }
      .md-button {
        @include setSize(48px);
        margin: 0;
      }
    }
    &.prm-list {
      @extend .default-shadow;
      &.prm-linkable-list-items {
        md-list-item {
          min-height: 0;
          padding: 0;
          margin-bottom: 1px;
          &:before {
            min-height: 0
          }
          > .md-button {
            min-height: 48px;
            padding: 0;
            &:before {
              min-height: 0
            }
            > a {
              &:hover, &:focus {
                box-shadow: none !important;
                background-color: transparent;
                + .md-list-item-inner,
                + ._md-list-item-inner {
                  @extend .prm-hover-list-element-bg;
                }
              }
            }
          }
          ._md-list-item-inner {
            padding: .75em 1em;
            @extend .prm-background.prm-hue2;
          }
          .item-title {
            // @extend .bold-text;
            line-height: 1.7em;
            @extend .prm-citation-title;
            white-space: normal;
            > prm-icon {
              color: inherit;
              margin-right: 5px;
              color: initial;
              md-icon {
                @include setSize(18px);
              }
            }
            .combined-half-mark{
              font-size: 12px;
            }
          }



        }
        &.prm-dense-list {
          md-list-item {
            &:before {
              min-height: 0;
            }
            .item-title {
              font-size: 15px;
            }
            .md-list-item-inner,
            ._md-ilst-item-inner {
              padding: .5em 1em;
              &:before {
                min-height: 0;
              }
            }
          }
        }
      }
    }
  }
}