$bottomSpace: 450px;

prm-search-result-list {
    min-height: 600px;

    // results list header + footer
    .results-header,
    .results-footer {
        @extend .light-text;
        @extend .prm-background.prm-hue2;
    }
    // results list header (results count)
    .results-header {
        padding: .5em .75em;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-color: inherit;

        @extend .prm-background-border; 
        
        &.is-stuck {
            @extend %default-shadow;
        }
        .md-button {
            md-icon {
                @include setSize(20px);
            }
        }
        .__xs & {
            padding-left: 1em;
        }
        prm-favorites & {
            .__xs & {
                padding-left: .75em;
            }
        }
        .results-count {
            @extend .margin-right-medium;

            [dir="rtl"] & {
                margin-right: 0;
                @extend .margin-left-medium;
            }
        }

    }
    // results list footer
    .results-footer {
        padding: 0;
        border-top: 1px solid $almostWhite;
        width: 100%;
        .results-count {
            padding: .5em;
            line-height: 1.5em;
        }
    }

    // results list spinner/loader container
    .results-loader {
        position: relative;
        height: 10em;
    }
    
    .list-spacer {
        min-height: $bottomSpace;
    }


    .results-title {
        position: relative;
        top: -7px;
        @extend .italic-text;
        @include rtl-prop(padding-left, padding-right, 5px, auto);

        .__sm & {
            top: -3px;
        }
        .__xs & {
            top: 0;
            margin-top: 7px;
        }
    }
    // this is to complement the tweak above, to make the first "page #" appear in the same line as the results count
    .pages-separated-with-gaps {
        .results-title:not(.results-title-favorites) {
            @include rtl-prop(padding-left, padding-right, 60px, auto);

        }
        &.single-page {
            .results-title:not(.results-title-favorites) {
                padding-left: 5px;
                @include rtl-prop(padding-left, padding-right, 5px, auto);
                &:before {
                    display: none;
                }
            }
        }
        .list-item-wrapper {
            // first item of every page
            &.first-in-page {
                position: relative;
                .md-subheader {
                    height: 0;
                    position: relative;
                    z-index: 0;
                    ._md-subheader-inner {
                        position: absolute;
                        top: -25px;                        
                        padding: 0;

                        @include rtl-prop(left, right, 7px, auto);
                    }
                    .tiny-uppercase-text {
                        font-size: 0.85em;
                    }
                }
                &:first-of-type {
                    margin-top: 10px;
                    .md-subheader {
                        height: 0;
                        position: relative;
                        font-size: 15px;
                        ._md-subheader-inner {
                            top: -34px;
                            .__sm & {
                                top: -30px;
                            }
                            .__xs & {
                                top: -27px;
                            }
                        }
                    }
                }            
                &:not(:first-of-type) {
                    margin-top: 34px;
                    &:before {
                        content: "";
                        width: 100%;
                        height: 2em;
                        background: transparent;
                        display: block;
                        position: absolute;
                        left: 0;
                        top: calc(-34px - 2em);
                        @extend .default-shadow;
                    }                
                }            
            }
            &:nth-last-child(2) {
                @extend .default-shadow;
            }
        
        }
    }
}
