paper-button {
  font-size: 10px;

  &.button-inverse {
    color: $text-color-inverse;

    &:hover {
      background: $uq-purple-lighter;
    }

    &:focus {
      outline: $focus-outline-color auto 5px;
    }

  }

  &.button-action {
    background-color: $uq-blue;

    &:hover {
      background: $uq-blue-lighter;
    }
  }

  .button-title {
    padding: 8px;
    //display: inline;
    //display: none;
  }
}

@media all and (max-width: 700px) {
  paper-button {
    &.button-inverse {
      padding: 0.6em 0.47em;
    }
    .button-title {
      //padding: 6px;
      //display: inline;
      display: none;
    }
  }
}