
//header colours
$header-background-color: #49075E;
$header-primary-text-color: #FFF;
$header-secondary-text-color: #d2c1d7;

$logo-url: "https://static.uq.net.au/v1/logos/corporate/uq-logo-white.svg";

//footer colours
$footer-background-color: #49075E;
$footer-primary-text-color: #FFF;
$footer-secondary-text-color: #d2c1d7;
