//mixins
//todo: move mixins to skeleton styles
@mixin uql-button($text-colour, $bg-colour) {
  color: $text-colour;
  background-color: $bg-colour;
  padding: 0.7em 0.57em;
  min-width: 5.14em;
  margin: 0 0.29em;
  border-radius: 3px;
  font-size: 16px;
  background-image: none;
  height: auto;
  text-transform: uppercase;
  border: none;
  -webkit-appearance: none;

  &:focus{
    outline: #288BED auto 5px;
  }
}

@mixin uql-tab-button($text-colour, $bg-colour) {
  color: $text-colour;
  background-color: $bg-colour;
  padding: 0.7em 0.77em;
  min-width: 5.14em;
  margin: 0 0.29em;
  border-radius: 3px;
  font-size: 12px;
  background-image: none;
  height: auto;
  text-transform: uppercase;
  border: none;
  -webkit-appearance: none;

  &:focus{
    outline: #288BED auto 5px;
  }
}

@import "../../bower_components/uqlibrary-styles/skeleton.scss";
@import "styles-imports/home-page";
@import "styles-imports/login-bar";
@import "styles-imports/search-tile";
@import "styles-imports/advanced-search-tile";

@import "styles-imports/facets";
@import "styles-imports/account-ribbon";

@import "styles-imports/result-list";
@import "styles-imports/result-tabs";
@import "styles-imports/result-tab-details";
@import "styles-imports/result-tab-getit";
@import "styles-imports/result-footer";

@import "styles-imports/footer";

@import "styles-imports/hide";

html,
body {
  height: 100%;
  min-height: 100vh;
  font-family: 'Roboto', 'helvetica', 'times new roman', 'sans-serif' !important;
}

* {
  font-family: 'Roboto', 'helvetica', 'times new roman', 'sans-serif' !important;
}

uq-minimal-header,
uq-minimal-footer,
uql-connect-footer
{
  z-index: 1001 !important;
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  position: relative;
}

//todo: move out these styles to corresponding imports

// Search box styles
#exlidSearchRibbon input.submit,
#goButton {
  @include uql-button(#fff, $accent-color);
}

.EXLSearchFieldRibbonAdvancedSearchLink,
.EXLSearchFieldRibbonBrowseSearchLink {
  clear: both;
  float: none;
  display: inline-block !important;
  width: auto;
  margin-top: 1em;
  margin-bottom: 2em;
}

.EXLSearchFieldRibbonAdvancedSearchLink {
  padding-right: 1em;
}

.EXLSearchFieldRibbonAdvancedSearchLink a.EXLSearchFieldRibbonAdvancedTwoLinks,
.EXLSearchFieldRibbonBrowseSearchLink a {
  font-size: 0.9em;
  padding-top: 0px;
}