#preloader {
  display: block; }
  #preloader .header {
    width: 100%;
    height: 64px;
    color: #FFF;
    background-color: #49075E;
    line-height: 64px;
    padding-left: 10px;
    font-family: 'Roboto', 'helvetica', 'times new roman', 'sans-serif';
    font-size: 20px; }
  #preloader .preloader-card {
    margin: 16px auto;
    background-color: #FFF;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }
  #preloader .preloader-card p {
    font-family: 'helvetica', 'times new roman', 'sans-serif';
    color: #595959; }
  #preloader .preloader-card h2 {
    line-break: auto;
    white-space: normal;
    font-size: 1.8em;
    color: #757575;
    font-weight: 400;
    line-height: 1.1em; }
  #preloader #preloader-loading {
    text-align: center;
    text-transform: uppercase;
    padding: 40px;
    display: none; }
  #preloader #preloader-unsupported {
    padding: 20px 40px 40px 40px;
    display: none; }

body {
  margin: 0px;
  padding: 0px; }

uq-minimal-header {
  height: 100px;
  display: block;
  background-color: #49075E;
  width: 100%; }

uq-minimal-footer {
  display: block;
  width: 100%;
  background-color: #49075E;
  min-height: 140px; }

uql-connect-footer {
  display: block;
  width: 100%;
  background-color: #e5e5e5;
  min-height: 240px; }

@media all and (max-width: 1047px) {
  uq-minimal-header {
    height: 66px; } }
@media all and (min-width: 1048px) {
  uql-menu {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px 0px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px 0px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px 0px;
    display: block;
    width: 100%;
    height: 67px;
    background-color: #fff; } }
html,
body {
  height: 100%;
  min-height: 100vh; }

uq-minimal-header,
uq-minimal-footer,
uql-connect-footer {
  z-index: 1001 !important;
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  position: relative; }

#exlidSearchRibbon input.submit,
#goButton {
  color: #fff;
  background-color: #2377CB;
  padding: 0.7em 0.57em;
  min-width: 5.14em;
  margin: 0 0.29em;
  border-radius: 3px;
  font-size: 16px;
  background-image: none;
  height: auto;
  text-transform: uppercase;
  border: none; }
  #exlidSearchRibbon input.submit:focus,
  #goButton:focus {
    outline: #288BED auto 5px; }

#EXLSearchFieldRibbonAdvancedSearchLink,
#EXLSearchFieldRibbonBrowseSearchLink {
  clear: both; }
  #EXLSearchFieldRibbonAdvancedSearchLink a,
  #EXLSearchFieldRibbonBrowseSearchLink a {
    display: inline; }

#exlidAdvancedSearchRibbon .EXLSearchFieldRibbonFormSubmitSearch {
  margin-top: 0.5em;
  border: none; }
#exlidAdvancedSearchRibbon input.submit {
  color: #fff;
  background-color: #2377CB;
  padding: 0.7em 0.57em;
  min-width: 5.14em;
  margin: 0 0.29em;
  border-radius: 3px;
  font-size: 16px;
  background-image: none;
  height: auto;
  text-transform: uppercase;
  border: none; }
  #exlidAdvancedSearchRibbon input.submit:focus {
    outline: #288BED auto 5px; }
#exlidAdvancedSearchRibbon input.submit.EXLAdvancedSearchClearSelection {
  color: #fff;
  background-color: #595959;
  padding: 0.7em 0.57em;
  min-width: 5.14em;
  margin: 0 0.29em;
  border-radius: 3px;
  font-size: 16px;
  background-image: none;
  height: auto;
  text-transform: uppercase;
  border: none; }
  #exlidAdvancedSearchRibbon input.submit.EXLAdvancedSearchClearSelection:focus {
    outline: #288BED auto 5px; }

#exlidSearchTile {
  border: none;
  background-image: none;
  height: auto;
  width: 100%;
  font-size: 1em; }
  #exlidSearchTile .EXLSearchTabsContainer {
    display: none !important; }
  #exlidSearchTile .EXLSearchFieldRibbonFormSearchFor {
    border-bottom: 1px solid #333333; }
  #exlidSearchTile .EXLSearchFieldRibbonFormFields {
    background-color: #f2f2f2;
    border-radius: 3px;
    padding: 4px 0 0 4px;
    width: 90%;
    height: 36px; }
  #exlidSearchTile #exlidSearchRibbon input#search_field {
    background: #f2f2f2;
    padding: 2px;
    border: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; }
  #exlidSearchTile #exlidSearchRibbon div.EXLSearchFieldRibbon {
    border: 0px;
    height: auto; }

#exlidHeaderSearchLimits,
#exlidMainMenuContainer,
#scopesList {
  display: none; }

.EXLSearchFieldRibbonAdvancedSearchLink,
.EXLSearchFieldRibbonBrowseSearchLink {
  clear: both;
  float: none;
  display: inline-block !important;
  width: auto;
  margin-top: 1em;
  margin-bottom: 2em; }

.EXLSearchFieldRibbonAdvancedSearchLink {
  padding-right: 1em; }

.EXLSearchFieldRibbonAdvancedSearchLink a.EXLSearchFieldRibbonAdvancedTwoLinks,
.EXLSearchFieldRibbonBrowseSearchLink a {
  font-size: 1em;
  padding-top: 0px; }

#exlidHeaderSystemFeedback {
  background-color: transparent;
  border: none; }
  #exlidHeaderSystemFeedback #alert-container {
    background-color: #64b10b;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    left: 0px;
    height: 20px;
    width: 100%;
    padding: 10px 0px;
    margin-left: -2px; }
    #exlidHeaderSystemFeedback #alert-container #alert-text-container {
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      font-size: 0.9em;
      color: white;
      background-image: none;
      padding: 0.2em 0 0 0; }
      #exlidHeaderSystemFeedback #alert-container #alert-text-container a {
        text-decoration: underine; }

#alert-icon-container {
  background-color: white;
  top: -2px;
  width: 1em;
  height: 1em;
  overflow: hidden;
  border: none;
  border-radius: 0.5em;
  box-shadow: #999 0 1px 1px;
  font-size: 25px;
  color: transparent;
  margin-right: 8px;
  position: relative; }

#alert-icon-container:after {
  font-style: italic;
  font-weight: bold;
  content: "i";
  display: block;
  position: absolute;
  top: 0.25em;
  left: 0;
  width: 100%;
  text-align: center;
  font-family: "Times New Roman", "Garamond", serif;
  font-size: 0.65em;
  color: #64b10b; }

/*# sourceMappingURL=custom-styles.css.map */
