//mixins
//todo: move mixins to skeleton styles
@mixin uql-button($text-colour, $bg-colour) {
  color: $text-colour;
  background-color: $bg-colour;
  padding: 0.7em 0.57em;
  min-width: 5.14em;
  margin: 0 0.29em;
  border-radius: 3px;
  font-size: 16px;
  background-image: none;
  height: auto;
  text-transform: uppercase;
  border: none;
  -webkit-appearance: none;

  &:focus{
    outline: #288BED auto 5px;
  }
}

@mixin uql-tab-button($text-colour, $bg-colour) {
  color: $text-colour;
  background-color: $bg-colour;
  padding: 0.5em 0.77em;
  min-width: 5.14em;
  margin: 0 0.29em;
  border-radius: 3px;
  font-size: 12px;
  background-image: none;
  height: auto;
  text-transform: uppercase;
  border: none;
  -webkit-appearance: none;

  &:focus{
    outline: #288BED auto 5px;
  }
}

@import "../../bower_components/uqlibrary-styles/skeleton.scss";

html,
body {
  height: 100%;
  min-height: 100vh;
  font-family: 'Roboto', 'helvetica', 'times new roman', 'sans-serif' !important;
}

* {
  font-family: 'Roboto', 'helvetica', 'times new roman', 'sans-serif' !important;
}

a:link, a:visited {
  color: $accent-color !important;
  text-decoration: none
}

@import "styles-imports/home-page";
@import "styles-imports/login-bar";
@import "styles-imports/search-tile";
@import "styles-imports/advanced-search-tile";

@import "styles-imports/facets";
@import "styles-imports/account-ribbon";

@import "styles-imports/result-list";
@import "styles-imports/result-tabs";
@import "styles-imports/result-tab-details";
@import "styles-imports/result-tab-getit";
@import "styles-imports/result-footer";
@import "styles-imports/result-header";

@import "styles-imports/footer";

@import "styles-imports/hide";


uq-minimal-header,
uq-minimal-footer,
uql-connect-footer
{
  z-index: 1001 !important;
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  position: relative;
}


//todo: move out these styles to corresponding imports

// Search box styles
#exlidSearchRibbon input.submit,
#goButton {
  @include uql-button(#fff, $accent-color);
}

.EXLSearchFieldRibbonAdvancedSearchLink,
.EXLSearchFieldRibbonBrowseSearchLink {
  clear: both;
  float: none;
  display: inline-block !important;
  width: auto;
  margin-top: 1em;
  margin-bottom: 2em;
}

.EXLSearchFieldRibbonAdvancedSearchLink {
  padding-right: 1em;
}

.EXLSearchFieldRibbonAdvancedSearchLink a.EXLSearchFieldRibbonAdvancedTwoLinks,
.EXLSearchFieldRibbonBrowseSearchLink a {
  font-size: 0.9em;
  padding-top: 0;
}

/* hide 'bX Hot Article' block */
#resultsHeaderNoId .EXLCustomLayoutTile:first-child {
  display: none;
}

/* make saved items 'Go' button look like 'Refine (dates)' button */
td .EXLEShelfFolderContentsTable * {
  font-family: inherit;
}
td .EXLEShelfFolderContentsTable {
  font-size: 1.1em;
}

#buttonsUl table {
  margin-top: 0.15em;
}
#buttonsUl .buttonGo {
  border-width: 0;
}
#buttonsUl .buttonGo a {
  background-color: #0075B0;
  padding: 0.2em 0.6em 0 0.6em;
  color: #fff !important;
  border: 1px solid #7f9db9;
}
select#saveAs {
  margin-top: 0.3em;
}
.EXLEShelfFolderContentsManipulationButtonList li {
  margin-top: 0.1em;
}

/* make certain options in the save/share selector disappear */
#exlidTabHeaderButtons-1 .EXLButtonSendToEasyBib,
#exlidTabHeaderButtons-1 .EXLButtonSendToRefWorks,
#exlidTabHeaderButtons-1 .EXLButtonSendToDelicious,
#exlidTabHeaderButtons-1 .EXLButtonSendToFacebook {
  display: none;
}


/* facet sidebar */
#exlidFacetTile {
  width:23%;
}

/* main result body */
#resultsTileNoId {
  width: 75%;
  border-left-width: 0;
}

/* facet tile header */
.EXLFacetContainer h1 {
  background-color: inherit;
  color:#000;
  font-size: 100%;
  font-weight: bold;
  line-height: 150%;
  text-indent: 0;
  margin-bottom: 0.3em;
  padding-left: 0.5em;
}

/* facet tile header */
.EXLFacetContainer h3 {
  background-color: #F8F8F8;
  color: #757575;
  font-weight: bold;
  font-size: 100%;
  line-height: 150%;
  text-indent: 0;
  margin-bottom: 0.3em;
  padding: 0 0 0 0.5em;
}

/* facet tile header */
.EXLFacetContainer h4 {
  background-color: #EAEAEA;
  color: #606060;
  font-weight: bold;
  font-size: 85%;
  text-indent: 0;
  padding: 0.5em 0 0.5em 0.5em;
}

/* block of links in each facet tile */
.EXLFacetContainer ol {
  background-color: #F8F8F8;
  padding: 6px 4px;
  border: 2px solid #F1F1F1;
  text-indent: 1em;
}

/* icon-text link block at top of facet sidebar */
div.EXLFacetActionsV2 {
  background-color: #F8F8F8;
  color: #000;
  font-weight: normal;
  font-size: 80%;
  display: block;
  height: auto;
  padding: 4px 4px 16px 4px;
  border: 2px solid #F1F1F1;
}

/* put a grey background on publication date */
/* this assumes exlidFacet1 is tied to the pub date field */
#exlidFacet1 {
  margin-bottom: 0;
}
#exlidFacet1 .EXLDateRangeText {
  background-color: #F8F8F8;
  color: inherit;
  padding-top: 1px 0; /* force space for background color */
  margin-bottom: 0;
}

/* remove stray grey bottom of publication date box */
#exlidFacetSublist1 {
  padding-bottom: 0;
  background-color: #fff;
  color: inherit;
  border-width: 0;
}

