@import "../../bower_components/uqlibrary-styles/skeleton";

html,
body {
  height: 100%;
  min-height: 100vh;
}

uq-minimal-header,
uq-minimal-footer,
uql-connect-footer
{
  z-index: 1001 !important;
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;

  position: relative;
}

// Primo specific stuff

// Search box styles
#exlidSearchRibbon input.submit,
#goButton {
  color: #fff;
  background-color: $accent-color;
  padding: 0.7em 0.57em;
  min-width: 5.14em;
  margin: 0 0.29em;
  border-radius: 3px;
  font-size: 16px;
  background-image: none;
  height: auto;
  text-transform: uppercase;
  border: none;
}

#EXLSearchFieldRibbonAdvancedSearchLink,
#EXLSearchFieldRibbonBrowseSearchLink {
  clear: both;

  a {
    display: inline;
  }
}

// #exlidAdvancedSearchTile - advanced search

// #exlidSearchTile - simple search
#exlidSearchTile {
  border: none;
  background-image: none;
  height: auto;
  width: 100%;
  font-size: 1em;

  #exlidSearchRibbon * {
    float: none;
    clear: both;
    display: block;
  }

  // hide scope from simple search box
  .EXLSearchTabsContainer {
    display: none !important;
  }

}

#exlidSearchRibbon {
  float: none;
  clear: both;
}

// hide things
#exlidHeaderSearchLimits,
#exlidMainMenuContainer,
#scopesList
{
  display: none;
}

.EXLSearchFieldRibbonAdvancedSearchLink,
.EXLSearchFieldRibbonBrowseSearchLink {
  display: inline-block;
  width: auto;
}

.EXLSearchFieldRibbonAdvancedSearchLink a.EXLSearchFieldRibbonAdvancedTwoLinks,
.EXLSearchFieldRibbonBrowseSearchLink a {
  font-size: 1em;
  padding-right: 1em;
}