prm-main-menu[menu-type="full"] {
  color: $white;
  font-size: 1.1em;

  //Highlight the background to make the username clearer
  /* .mobile-main-menu-bg:before{
     position:absolute;
     z-index:-1;
     top:0;
     left:0;
     width:100%;
     height:9.4%;
     content:"";
     opacity: .8;
     background-color:$primary-hue1;
   }*/


  .md-button {
    font-size: inherit;
  }

  .close-button {
    position: fixed;
    right: 1em;
    top: .5em;
    z-index: 1;
    color: inherit;
    transform: scale(0) rotate(-90deg);
    transition: $swift-ease-out;
    @include setSize(76px);

    .__xs & {
      top: .25em;
      right: .25em;

      [dir="rtl"] & {
        left: 0;
        right: auto;
      }

      @include setSize(66px);
    }

    [dir="rtl"] & {
      left: .25em;
      right: auto;
    }

    md-dialog._md-transition-in, md-dialog.md-transition-in & {
      transform: scale(1) rotate(0deg);
    }

    &:hover, &:focus {
      color: inherit;
    }

    md-icon {
      @include setSize(56px);

      .__xs & {
        @include setSize(46px);
      }
    }
  }

  .overlay-menu-content {
    > div {
      min-width: 100%;
      max-width: 800px;

      .__gt-sm & {
        min-width: 70%;
      }
    }
  }

  .custom-links-container {

    width: 100%;
    //margin-top: 6em;

    .__xs & {
      @extend .padded-container-small;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      //margin-top: 0;
    }

    .__gt-sm & {
      margin-top: 6em;
    }

    & .main-menu-button {
      width: 30%;

      a {
        white-space: normal;
      }

      .__xs & {
        margin-left: 10px !important;
        width: auto !important;
      }

      & .transparent-card {
        padding: 15px 0;

        .__xs & {
          text-align: left !important;
          align-items: inherit !important;
          display: flex;
          justify-content: flex-start;
        }
      }
    }
  }

  prm-change-lang {
    md-select-value {
      position: relative;
      top: -3px;
      font-size: .95em;
    }
  }

  prm-authentication {
    .md-button {
      + .md-button {
        margin-top: 1em;
      }
    }
  }

  .settings-container {
    text-transform: uppercase;
    transition: $swift-ease-out;

    .__gt-xs & {
      position: absolute;
      top: 0;
      @extend .margin-bottom-large;

      + md-divider {
        margin-top: 5em;
        //display: none;
      }
    }

    .__sm & {
      left: 0;

      [dir=rtl] & {
        right: 0;
        left: auto;

        + md-divider {
          margin-top: 8em;
        }
      }

      //margin: 0.5em 0 0 1.5em;
      + md-divider {
        margin-top: 3em;
      }
    }

    .__md & {
      left: 0;
      right: auto;

      [dir=rtl] & {
        margin: .25em 0 0 0 !important;
        right: 0;
        left: auto;
      }


    }

    .__gt-sm & {
      //right: 0;
      margin: .25em 5em 0 0;

      + md-divider {
        display: none;
      }
    }

    md-input-container {
      margin: 0;
    }

    md-divider {
      margin: 0 .5em;
      // margin-top: 5em;
    }

    &.ng-enter {
      transform: translateY(-100px);

      &.ng-enter-active {
        transform: translateY(0);
      }
    }
  }

  .display-language-label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 10px;
    margin-left: 10px;

    [dir=rtl] & {
      right: 0;
      left: auto;
    }
  }

  .md-button,
  .overlay-menu-item {
    padding: .5em;

    &:hover, &:focus, &.md-focused, md-select:focus {
      @extend .hoverable-over-dark;
      box-shadow: none;
    }

    .md-headline {
      font-weight: 600;
      font-size: 1.3em;
      color: $linkTitle;
      //@include bgColor($linkTitle);
    }

    .md-subhead {
      text-transform: none;
      padding-top: .35em;
    }
  }

  md-divider {
    margin: 0em 1em 2em 1em;
    @include bgColor(white);
    opacity: .3;

    .__xs & {
      margin: .5em 1.5em;
    }
  }

  md-button {
    position: relative;
    cursor: pointer;
    transform-origin: 0 50%;
    border-radius: $radius;
    align-self: stretch;

    &:hover, &:focus {
      @extend .hoverable-over-dark;
    }

    .__gt-sm & {
      text-align: center;
      transform-origin: 50%;
    }

    .md-headline {
      @extend .prm-links.prm-alt-link.prm-hue1;
      @extend .spaced-text;
      @extend .bold-text;
      text-transform: uppercase;
      font-size: 1.3em;
    }

    .md-ripple-container {
      border-radius: $radius;
    }

    &.ng-enter {
      transform: scale3d(.5, .5, 1);
      transition: transform .6s $easeOutExpo, opacity .2s;
      opacity: 0;

      &.ng-enter-active {
        transform: scale(1);
        opacity: 1;
      }
    }

    &.ng-enter-stagger {
      transition-delay: .03s;
    }
  }

  /*md-card-title{
      padding-top: 16px;
      .__xs & {
          padding: .5em 1em ;
      }

      md-card-title-text:only-child {
          .md-subhead {
              padding-top: .35em;
              font-size: inherit;
              .__xs & {
                  padding-top: .35em;
              }
          }
      }
  }*/

  .user-menu-header {
    display: flex;
    align-items: center;
    padding: 10px 16px 8px 16px;
    color: inherit;

    .__sm & {
      padding: 5px 16px 8px 16px;
    }

    // @extend .prm-primary-bg
    //@extend .prm-text;
    .md-button {
      margin: 0;
    }
  }

  .tiny-uppercase-text {
    font-weight: 300;
    font-size: 0.70em;
  }

  .prm-user-menu-content {
    //width: 100%;
    margin: 10px 0 0 10px;
    position: absolute;
    right: 15em;
    top: 0;

    [dir=rtl] & {
      left: 15em;
      right: auto;
    }

    .__xs &, {
      left: 0;
      width: 100%;

      [dir=rtl] & {
        right: 0;
        left: auto;
      }
    }

    .__sm &, {
      left: 0;
      top: 1em;

      [dir=rtl] & {
        right: 0;
        left: auto;
        margin-right: .5em;
      }
    }

    .__md &, {
      left: auto;
      top: .5em;
      right: 8em;

      [dir=rtl] & {
        left: 8em;
        right: auto;
      }
    }

    /*text-align: left;
    .__md & {
         [dir=ltr] & {
             text-align: right!important;
         }
     }*/
    .__sm & {
      margin: 0;
    }

    /* .__xs & {
         [dir=rtl] & {
              text-align: right;
          }
     }*/
  }

  a {
    &:hover, &:focus {
      span {
        color: $primary !important;
      }
    }
  }

  .overlay-menu-item {
    position: relative;

    &:hover {
      border-radius: 3px;
    }
  }
}


