prm-collection-breadcrumbs {
    margin-bottom: .2em;
    margin-top: 2em;
    font-size: .65em;
    font-weight: normal;
    .md-button,
    .md-button.#{$defaultTheme}:not(.md-menu-toolbar) {
        display: inline-block;
        color: $links;
        text-transform: none;
        margin: 0;
        min-height: 2.2em;
        line-height: 2.2em;
        // &:after {
        //     content: "›";
        //     margin-right: .2em;
        //     margin-left: .2em;
        //     // font-size: 2em;
        //     vertical-align: sub;
        //     text-decoration: none !important;
        //     cursor: default !important;
        //     color: transparentize($dark, .5)!important;
        // } 		
    }
    md-icon {
    	opacity: .5;
    	path {
    		fill: $links;
    	}
    }
}
