/* starting alphabetToolbar */
prm-alphabet-toolbar {

  [dir=rtl] & {
    direction: ltr;
  }


  > div {
    padding: 1em;
  }
  .md-button {
    margin: 0;
    line-height: 30px;
    @include setSize(30px);
    width: auto;
    @include bgColor(white);
    &.letter-button {
      width: 30px;

    }
    > span {
      @extend .bold-text;
    }
    &.active,
    &.active:hover,
    &.active:focus,
    &.active.md-focused {
      // box-shadow: 0 0 0 1px transparentize(white, .5);
      // box-shadow: 0 0 0 1px #ede49e;
      @extend .default-shadow-on-dark;
      color: black;
      background: rgb(247, 237, 163);
    }
  }

  md-input-container {
    md-select {
      margin: 0;
      order: 2;
    }
    label {
      color: $white !important;
    }
  }

  md-select {
    box-shadow: 1px 0 0 0 hsla(0, 0%, 100%, .2);
    margin-right: 1em;
    padding-right: .5em;
    display: flex;
    margin: 20px 0 26px;
    color: #fff;
  }

  .language-selector {
    color: $white;
  }

  .hebrew-characters {
    direction: rtl;
  }
}


