:host {
    display: block;
}

:host paper-toolbar {
    /*background-color: #49075e;*/
    background-color: #000;
}

:host paper-material {
    z-index: 101 !important;
}

:host paper-toolbar paper-button:nth-of-type(1) {
    text-align: left;
}

:host #main {
    width: 269px;
    left: 0;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: #eee;
    z-index: 1;
}

:host paper-menu.sublist paper-item a {
    padding-left: 1em;
}

:host #main-menu {
    overflow: auto;
}
