prm-toggle-button {
	button, .md-button {
		display: flex;
		flex-direction: row;
		padding: 0;
		min-width: 70px;

		&:not([disabled]){
			&:hover {
				background-color: transparent;
			}
		}

		&:before {
			content: "";
			position: absolute;
			z-index: 0;
			width: 100%;
			background-color: white;
			height: 100%;
			top: 0;
			left: 0;
			transition: all .3s .1s $easeOutBack;
			// transition-duration: .3s;
			border-radius: $radius;
		}

		prm-icon {
			flex-basis: 50%;
			position: relative;
			display: inline-flex;
			align-items: center;
			justify-content: center;
		}

		&.toggle-one {
			prm-icon:first-of-type {
				opacity: .5;
			}
			&:before {
				transform: translateX(50%)
			}
		}
		&.toggle-two {
			prm-icon:last-of-type {
				opacity: .5;
			}
			&:before {
				transform: translateX(-50%)
			}
		}
	}

	
}