body {
  min-height: 100vh;

  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;

  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.app {
  -ms-flex: 1 1 0.000000001px;
  -webkit-flex: 1;
  flex: 1;
  -webkit-flex-basis: 0.000000001px;
  flex-basis: 0.000000001px;
}

