#preloader {
  display: block; }
  #preloader .header {
    width: 100%;
    height: 64px;
    color: #FFF;
    background-color: #49075E;
    line-height: 64px;
    padding-left: 10px;
    font-family: 'Roboto', 'helvetica', 'times new roman', 'sans-serif';
    font-size: 20px; }
  #preloader .preloader-card {
    margin: 16px auto;
    background-color: #FFF;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }
  #preloader .preloader-card p {
    font-family: 'helvetica', 'times new roman', 'sans-serif';
    color: #595959; }
  #preloader .preloader-card h2 {
    line-break: auto;
    white-space: normal;
    font-size: 1.8em;
    color: #757575;
    font-weight: 400;
    line-height: 1.1em; }
  #preloader #preloader-loading {
    text-align: center;
    text-transform: uppercase;
    padding: 40px;
    display: none; }
  #preloader #preloader-unsupported {
    padding: 20px 40px 40px 40px;
    display: none; }

body {
  margin: 0px;
  padding: 0px; }

uq-minimal-header {
  height: 100px;
  display: block;
  background-color: #49075E;
  width: 100%; }

uq-minimal-footer {
  display: block;
  width: 100%;
  background-color: #49075E;
  min-height: 140px; }

uql-connect-footer {
  display: block;
  width: 100%;
  background-color: #e5e5e5;
  min-height: 240px; }

@media all and (max-width: 1047px) {
  uq-minimal-header {
    height: 66px; } }
@media all and (min-width: 1048px) {
  uql-menu {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px 0px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px 0px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px 0px;
    display: block;
    width: 100%;
    height: 67px;
    background-color: #fff; } }
html,
body {
  height: 100%;
  min-height: 100vh; }

.has-breadcrumbs body {
  padding-top: 0; }

.sidebar {
  top: 0;
  padding-top: 120px; }

uq-minimal-header,
uq-minimal-footer,
uql-connect-footer {
  z-index: 1001 !important;
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  position: relative; }

.app {
  padding: 1.5em 1.5em 0;
  width: 100%;
  min-height: calc(100vh - 450px); }

.uql-journals,
.uql-gateways {
  padding-top: 0; }

#exams li.uql-global-links {
  margin-bottom: 0;
  margin-top: 0; }
#exams uql-connect-footer .contacts {
  min-height: 1px !important; }
#exams .page {
  min-height: calc(100vh - 520px); }
  #exams .page .content {
    margin: 20px auto;
    width: 800px;
    border: 1px solid #ccc;
    padding: 20px; }

#copyright_notice uql-connect-footer .sub-footer-container .sub-footer-content .contacts {
  min-height: 0; }
@media (min-width: 1048px) {
  #copyright_notice uq-minimal-header {
    height: 79pt; } }

/*# sourceMappingURL=custom-styles.css.map */
