@import "../../bower_components/uqlibrary-styles/skeleton.scss";

prm-user-area {
  .user-menu-button .user-name {
    color: $accent-color;
  }
}

prm-logo,
prm-main-menu {
  display: none;
}

prm-search-bar,
prm-topbar .top-nav-bar {
  background-color: transparent;
}

.md-button.button-confirm {
  color: $accent-color;
}

prm-search-bar {

  .search-switch-buttons .md-button.switch-to-advanced {
    color: #fff;
    background-color: $accent-color;
    font-size: 16px;
    padding: 11px;
  }

  .search-switch-buttons {
    padding-top: 0;
  }

}
