/* starting personalInfo */


// md-toolbar.transparent-toolbar,
// md-toolbar:not(.md-menu-toolbar).transparent-toolbar,
// md-toolbar.md-primoExplore-theme:not(.md-menu-toolbar).transparent-toolbar {
//   background-color: transparent;
//   color: $dark;
// }