$bottomSpace: 450px;

prm-search-result-list {

    .list-spacer {
        min-height: $bottomSpace;


    }
    .margin-bottom{
    	margin-bottom: 4em;
    }
    md-list-item {
        transition: max-height .3s ease, transform .5s;
        width: 100%;
        // border-bottom: 1px solid;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        transition-duration: 0s;
        
        @extend .prm-background-border;
        @extend .zero-padding;
        @extend .prm-background.prm-hue2;

         @include ie-exceptions;

        &:last-of-type {
            border-bottom-width: 0;
            @extend .default-shadow;
        }

    }
}


.action-list-content {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: $paddingLarge;
    box-shadow: 0 0 0 0 $white, 0 0 0 0 transparent, 0 0 0 0 transparent, 0 0 0 -8px $nearlyWhite, 0 0 0 -8px $almostWhite;
    transition: background-color .3s ease, width .3s $easeOutQuint, height .3s $easeOutExpo, box-shadow .3s $easeOutExpo;
    transition-delay: 0s;

    @include rtl-prop(left,right, 0, auto);

    .item-expanded &,
    .item-hovered & {
        // background-color: $white;
        height: inherit;
        transition: background-color 0s 0s, width .4s $easeOutQuint, height .4s $easeOutQuint, box-shadow .4s $easeOutQuint, padding .3s $easeOutQuint;

        @extend .focused-item-shadow;

        // .no-list-item-padding & {
            width: calc(100% + 20px);
        // }
    }
    .menu-open &,
    .item-expanded & {
        transition-delay: 0s !important;
    }
    .item-expanded & {
        transition-delay: 0s !important;
    }

    .item-hovered & {
        transition-delay: .8s;
    }
    .content-holder {
        padding: $paddingLarge/1.5 $paddingLarge;
    }
}

.secondary-content-divider {
    display: block;
    width: calc(100% + 16px);
    height: 1px;
    top: 8px;    
    position: relative;

    @include rtl-prop(left, right, -8px, auto);

    &:after {
        content: "";
        width: 0;
        position: absolute;
        top: 0;
        right: 0;
        opacity: 0;
        @extend .prm-background.prm-hue4;
        height: 1px;
        transition: width 0s 0s, opacity 0s;

        @include ie-exceptions;

        .item-expanded & {
            width: 100%;
            opacity: 1;
            transition: width 1s $easeOutSwift, opacity .2s .1s ease;

            @include ie-exceptions;
        }
    }
}
.secondary-content-holder {
    opacity: 0;
    transition: opacity .1s 0s ease;
    overflow: hidden;
    position: relative;
    // left: -8px;
    // bottom: -8px;
    // width: calc(100% + 16px);

    .item-expanded & {
        opacity: 1;
        transition: opacity .3s .1s ease;

        // @include ie-exceptions;
    }

    md-tabs {
        position: relative;
        top: 8px;
    }

    md-tab-item,
    .md-tab {
        opacity: 0;
        transform: scale3d(-1.5, 0, 1);
        transform-origin: 50% 150%;
        .item-expanded & {
            transform: scale3d(1, 1, 1);
            opacity: 1;
            transition: transform .3s $swift-ease-out-timing-function, opacity .2s ease;

            // @include ie-exceptions;

            $elements: 12;
            $delay: 0.03;
            @for $i from 1 through $elements {
                &:nth-child( #{$i}) {
                    transition-delay: #{($elements * $delay) - ($i * $delay)}s;
                }
            }
        }
    }
}