prm-search {
  /*.facet-to-left {
    flex-direction: row-reverse;

    !*.flex-lgPlus-10 {
      display: none;
    }*!
  }*/

  /*.facet-to-left-results {
    order: 2;
  }
  .facet-to-left-rightSpacer {
    order: 4;
  }*/
}