* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  margin-top: 100px;
}

body {
  font-family: Helvetica, Arial, Roboto, sans-serif;
  font-weight: 400;
  background: #fafafa;
}

#s-lib-bc .breadcrumb,
#s-lib-admin-bc .breadcrumb {
  font-weight: normal;
  font-size: 12px;
  padding-bottom: 6px;
}

.breadcrumb>.active {
  color: #737373;
}

.uq-header {
  margin: 0 -15px;
  background: #8631a6 !important;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */

  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzg2MzFhNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1ZTIxNzkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+) !important;
  background: -moz-linear-gradient(top, #8631a6 0%, #5e2179 100%) !important;
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8631a6), color-stop(100%, #5e2179)) !important;
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #8631a6 0%, #5e2179 100%) !important;
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #8631a6 0%, #5e2179 100%) !important;
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #8631a6 0%, #5e2179 100%) !important;
  /* IE10+ */

  background: linear-gradient(to bottom, #8631a6 0%, #5e2179 100%) !important;
  /* W3C */

  filter: "progid: DXImageTransform.Microsoft.gradient(startColorstr='#8631a6', endColorstr='#5e2179', GradientType=0)" !important;
  /* IE6-8 */

  height: 60px;
  margin-bottom: 0px;
  border: none;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
  -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
}

.uq-footer {
  background: #5e2179;
  /* Old browsers */

  background: -moz-linear-gradient(top, #5e2179 0%, #8631a6 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5e2179), color-stop(100%, #8631a6));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #5e2179 0%, #8631a6 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #5e2179 0%, #8631a6 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #5e2179 0%, #8631a6 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #5e2179 0%, #8631a6 100%);
  /* W3C */

  filter: "progid: DXImageTransform.Microsoft.gradient(startColorstr='#5e2179', endColorstr='#8631a6', GradientType=0)";
  /* IE6-9 */

  padding-top: 16px;
  font-size: 12px;
  height: auto;
  color: white;
  margin: 0 -15px;
}

.uq-footer a {
  color: white;
}

.uq-line {
  height: 62px;
  margin: -2px -15px;
}

.s-lib-footer {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: none;
  background-color: transparent;
}

.container>.navbar-header,
.container-fluid>.navbar-header,
.container>.navbar-collapse,
.container-fluid>.navbar-collapse {
  margin: 0 -15px;
}

.uq-header-logo {
  float: left;
  height: 40px;
  margin-top: 10px;
  padding-right: 15px;
}

.uq-header-logo:hover,
.uq-header-logo:focus,
.uq-header-logo:active {
  -webkit-filter: drop-shadow(0 0 1px #aaa);
}

.uq-library-header-logo {
  float: left;
  color: #fff;
  font-size: 24px;
  margin-top: 10px;
  margin-left: 15px;
  -webkit-font-smoothing: antialiased;
}

.uq-library-header-logo:hover,
.uq-library-header-logo:active,
.uq-library-header-logo:focus {
  color: #fff;
  text-decoration: none;
  -webkit-filter: drop-shadow(0 0 1px #aaa);
  -moz-filter: drop-shadow(0 0 1px #aaa);
  -ms-filter: drop-shadow(0 0 1px #aaa);
  filter: drop-shadow(0 0 1px #aaa);
}
/* styles for enclosing side nav */

.s-lg-tabs-side > .nav {
  background: #fff;
  border: none;
  padding: 0 0 0 16px;
  margin: 1.5em 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
/* little dropdown containing sub-menu items */

.dropdown-menu {
  position: absolute;
  top: 100%;
  z-index: 1000;
  display: none;
  float: left;
  padding: 0px 12px;
  min-width: 10px;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .15);
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.dropdown-menu>li>a {
  padding: 6px 0;
}

.dropdown-menu>li:hover {
  border-bottom: none;
}

#s-lg-guide-tabs .dropdown-menu {
  padding-bottom: 1px;
}

#s-lg-tabs-container {
  padding-bottom: 1px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

#s-lg-tabs-container .nav-pills > li > ul > li > a {
  background: none !important;
}

#s-lg-guide-tabs .s-lg-tabs-side .nav .dropdown a,
#s-lg-tabs-container .nav-tabs > li > a,
#s-lg-tabs-container .nav-pills > li > a {
  border-radius: 0px 2px 2px 0px !important;
  background: #eee;
  font: 14px/1.2 Arial, Helvetica, sans-serif;
  cursor: pointer;
  color: #2662E3;
  border-bottom: 1px solid #eee;
  margin: 0 0 1px 0;
  background: url("https://dl.dropboxusercontent.com/u/590445/sidemenu-theming/arrow-right.png") no-repeat scroll right 12px transparent;
  padding: 0.6em 0;
}
/* submenu items */

#s-lg-guide-tabs .s-lg-tabs-side .nav .dropdown a:hover,
#s-lg-tabs-container .nav-tabs > li > a:hover,
#s-lg-tabs-container .nav-pills > li > a:hover {
  background-color: transparent;
  color: #840c99;
  border-bottom: 1px solid #eee;
}
/* non-currently-selected main nav links */

#s-lg-tabs-container .dropdown > .dropdown-toggle {
  color: #333 !important;
  font-weight: normal !important;
}

#s-lg-tabs-container .dropdown > .dropdown-toggle:hover {
  color: #333 !important;
  font-weight: normal !important;
}
/* always bold the top-level selected menu item */

#s-lg-tabs-container ul > .active > .active {
  font-weight: bold !important;
}

#s-lg-tabs-container .nav-tabs > .active > a,
#s-lg-tabs-container .nav-pills > .active > a {
  color: #333;
  background-color: transparent;
  background: url("https://dl.dropboxusercontent.com/u/590445/sidemenu-theming/arrow-down.png") no-repeat scroll right 12px transparent;
  font-weight: normal;
  padding: 0.6em 0;
  border-bottom: 1px solid #eee;
}

#s-lg-tabs-container .nav-tabs > .active > a:hover,
#s-lg-tabs-container .nav-pills > .active > a:hover {
  color: #333;
  background-color: transparent;
  border-bottom: 1px solid #eee;
  font-weight: normal;
}

#s-lg-tabs-container .caret {
  display: none;
}

#s-lg-hp-nav-bottom {
  border: 1px solid #ccc;
  border-radius: 2px;
  background-color: #fefefe;
  box-shadow: 0 2px 8px #ccc;
}

.panel-default>.panel-heading {
  border-radius: 2px;
  background-color: #fefefe;
}

#s-lg-hp-nav>ul>li, .panel-group .panel {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 1px 5px 0 rgba(0, 0, 0, 0.12),
  0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.s-lib-box {
  border-radius: 2px;
  border: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 1px 5px 0 rgba(0, 0, 0, 0.12),
  0 3px 1px -2px rgba(0, 0, 0, 0.2);
  background-color: #fefefe;
}

#s-lg-guide-main {
  padding: 0;
}

.s-lib-box .s-lib-box-title {
  font-size: 14px;
  margin-bottom: 0;
  padding: 12px 9px;
  color: #212121;
  font-weight: 500;
  background: #fefefe;
  border-bottom: 1px solid #ccc;
}

#s-lib-scroll-top {
  display: none !important;
}

@media (max-width: 767px) {
  .uq-header .navbar-header {
    padding-left: 15px;
  }
}

.uq-header .navbar-header {
  float: none;
}

.tabs ul li {
  margin-bottom: -1px;
  margin-top: 2px;
  margin-right: 4px;
  border-radius: 2px 2px 0px 0px;
  padding: 0px 8px;
  border-bottom: 4px solid #fcfcfc;
  -webkit-transition: all .1s ease;
  -moz-transition: all .1s ease;
  -o-transition: all .1s ease;
  -ms-transition: all .1s ease;
  transition: all .1s ease;
}

.tabs ul li:hover {
  color: #333 !important;
  border-bottom: 4px solid #8CB800;
  -webkit-transition: all .1s ease;
  -moz-transition: all .1s ease;
  -o-transition: all .1s ease;
  -ms-transition: all .1s ease;
  transition: all .1s ease;
}

.tabs ul li a {
  color: #333 !important;
  background: transparent !important;
  background-color: transparent;
  border: none !important;
}

.tabs ul li a:hover {
  color: #000 !important;
}

.tabs ul .active {
  border-bottom: 4px solid #8CB800;
  /*background-color: #5D8100 !important;
      color: white !important;*/
}

.tabs ul .active a span {
  font-weight: normal !important;
}

.tabs {
  height: 30px;
  margin-bottom: 8px;
}

#s-lg-guide-tabs-title-bar {
  border: none !important;
}

.input-group-sm>.form-control,
.input-group-sm>.input-group-addon,
.input-group-sm>.input-group-btn>.btn {
  border-radius: 2px !important;
}

#s-lg-guide-name {
  font-size: 32px;
}

.s-lg-srch-listing-meta li,
.s-lib-box-content li {
  margin-left: 15px;
}

a {
  color: #007e9e;
}

.nav>li>a:hover,
.nav>li>a:focus {
  color: #007e9e;
  text-decoration: none;
  background-color: #fcfcfc;
  outline: none;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
  background-color: #007e9e !important;
}

#s-lg-srch-results {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 16px;
  box-shadow: 0 2px 8px #ccc;
}

#s-lg-srch-nav {
  display: none;
}

.s-lg-link-list {
  padding-left: 0;
}

.s-lib-profile-email .label.label-info {
  color: #FFFFFF;
  background-color: #007E9E;
  border-color: #007E9E;
  font-family: Roboto, 'sans serif', Helvetica, Arial;
  padding: 10px 15px;
  font-weight: 400;
}

/* Front page: Hide info boxes with subject guide URL from subject list */
#s-lib-public-main #s-lg-index-list #s-lg-general-accordion .alert-info {
  display: none;
}

/* Multi-level menu - display arrow-down to indicate a dropdown */
#s-lg-guide-tabs li.dropdown {
  background: url("https://dl.dropboxusercontent.com/u/590445/sidemenu-theming/arrow-down.png") no-repeat scroll right 12px transparent;
  padding-right: 8px;
  margin-right: 12px;
}

/* Front page - search box fix */
#s-lg-hp-nav #s-lg-hp-nav-bottom form[role=search] span
{
  padding-right: 10px
}
#s-lg-hp-nav #s-lg-hp-nav-bottom form[role=search].pull-right {
  clear: both;
  float: none !important;
}
#s-lg-hp-nav #s-lg-hp-nav-bottom form[role=search] .form-group {
  width: 70%;
}
#s-lg-hp-nav #s-lg-hp-nav-bottom form[role=search] .form-control,
#s-lg-hp-nav #s-lg-hp-nav-bottom form[role=search] .s-lg-public-search-field {
  width: 100%;
}
#s-lg-hp-nav #s-lg-hp-nav-bottom form[role=search] .btn-default {
  color: #FFFFFF;
  background-color: #007E9E;
  border-color: #007E9E;
}

@media (max-width:768px) {
  #s-lg-hp-nav #s-lg-hp-nav-bottom form[role=search] .form-group {
    width: 100%;
  }
}

/* Lists - remove margins from lists to make sure spacing is equal
some pages have multiple UL's, which makes spacing between UL's different to spacing between LI's in the lists
*/
ul, ol {
  margin: 0 0 18px 8px;
}
.panel-group .panel {
  border-radius: 2px;
}
.panel-default {
  border-color: #ccc;
}

#s-lg-tabs-container .nav-pills>li>#s-lg-admin-tab-anchor {
  background: none !important;
}
.ui-tabs-nav {
  background: transparent;
  border: none;
}
.ui-tabs .ui-tabs-nav li {
  border: none;
  background: #fafafa;
}
.ui-tabs .ui-tabs-nav .ui-state-default {
  background: transparent;
  border-bottom: 4px solid transparent !important;
  -webkit-transition: all .1s ease;
  -moz-transition: all .1s ease;
  -o-transition: all .1s ease;
  -ms-transition: all .1s ease;
  transition: all .1s ease;
}
.ui-tabs .ui-tabs-nav .ui-state-default:hover, .ui-state-hover {
  background: transparent;
  border-bottom: 4px solid #8CB800 !important;
  -webkit-transition: all .1s ease;
  -moz-transition: all .1s ease;
  -o-transition: all .1s ease;
  -ms-transition: all .1s ease;
  transition: all .1s ease;
}
.ui-tabs .ui-tabs-nav .ui-state-active, .ui-tabs .ui-tabs-nav .ui-state-active:hover {
  background: transparent;
  border: none;
  border-bottom: 4px solid #8CB800 !important;
  cursor: text;
}

/* PT94260140 - h3/h4 headers font-size in a box container */
.s-lib-box-container .s-lib-box-content h3,
.s-lib-box-container .s-lib-box-content h4 {
  font-size: 13px;
}