@import "../../../../uqlibrary-styles/skeleton.scss";

%navlinks {
  border-radius: 0 2px 2px 0 !important;
  background: #eee;
  font: 14px/1.2 Arial, Helvetica, sans-serif;
  cursor: pointer;
  color: #2662E3;
  border-bottom: 1px solid #eee;
  margin: 0 0 1px 0;
  background: url("https://assets.library.uq.edu.au/reusable-components/resources/images/arrow-right.png") no-repeat scroll right 12px transparent;
  padding: 0.6em 0;
}

%navlinks-hover {
  background-color: transparent;
  color: #840c99;
  border-bottom: 1px solid #eee;
}

%shadow {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 1px 5px 0 rgba(0, 0, 0, 0.12),
  0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

@mixin hover-style($color) {
  background: transparent;
  border-bottom: 4px solid $color !important;
  transition: all .1s ease;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, Arial, Roboto, sans-serif;
  font-weight: 400;
  background: #fafafa;
}

h3,
h4 {
  font-weight: bold !important;
}

a {
  color: #007e9e;
}

/* Lists - remove margins from lists to make sure spacing is equal
some pages have multiple UL's, which makes spacing between UL's different to spacing between LI's in the lists
*/
ul, ol {
  margin: 0 0 18px 8px;
}

.container,
.container-fluid {
    & > .navbar-header,
    & > .navbar-collapse {
      margin: 0 -15px;
    }
}

.nav {
  & > li {
    & > a {
      &:hover,
      &:focus {
        color: #007e9e;
        text-decoration: none;
        background-color: #fcfcfc;
        outline: none;
      }
    }
  }
}

.nav-pills {
  & > li {
    &.active {
      & > a {
        &,
        &:hover,
        &:focus {
          background-color: #007e9e !important;
        }
      }
    }
  }
}

.breadcrumb>.active {
  color: #737373;
}

/* little dropdown containing sub-menu items */
.dropdown-menu {
  position: absolute;
  top: 100%;
  z-index: 1000;
  display: none;
  float: left;
  padding: 0 12px;
  min-width: 10px;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .15);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  & > li {
    &:hover {
      border-bottom: none;
    }
    & > a {
      padding: 6px 0;
    }
  }
  #s-lg-guide-tabs & {
    padding-bottom: 1px;
  }
}

.tabs {
  height: 30px;
  margin-bottom: 8px;
  ul {
    li {
      margin-bottom: -1px;
      margin-top: 2px;
      margin-right: 4px;
      border-radius: 2px 2px 0 0;
      padding: 0 8px;
      border-bottom: 4px solid #fcfcfc;
      transition: all .1s ease;
      &:hover {
        color: #333 !important;
        border-bottom: 4px solid #8CB800;
        transition: all .1s ease;
      }
      a {
        color: #333 !important;
        background: transparent !important;
        background-color: transparent;
        border: none !important;
        &:hover {
          color: #000 !important;
        }
      }
    }
    .active {
      border-bottom: 4px solid #8CB800;
      /*
      background-color: #5D8100 !important;
      color: white !important;
      */
      a{
        span {
          font-weight: normal !important;
        }
      }
    }
  }
}

.panel-group {
  .panel {
    @extend %shadow;
    border-radius: 2px;
  }
}

.panel-default {
  border-color: #ccc;
  & > .panel-heading {
    border-radius: 2px;
    background-color: #fefefe;
  }
}

.ui-tabs-nav {
  background: transparent;
  border: none;
  .ui-tabs & {
    li {
      border: none;
      background: #fafafa;
    }
    .ui-state-default {
      @include hover-style(transparent);
      &:hover {
        border-bottom-color: #8CB800 !important;
      }
    }
    .ui-state-active {
      &,
      &:hover {
        background: transparent;
        border: none;
        border-bottom: 4px solid #8CB800 !important;
        cursor: text;
      }
    }
  }
}

.ui-state-hover {
  @include hover-style(#8CB800);
}

#s-lib-bc .breadcrumb,
#s-lib-admin-bc .breadcrumb {
  font-weight: normal;
  font-size: 12px;
  padding-bottom: 6px;
}

.s-lib-footer {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: none;
  background-color: transparent;
}

#s-lg-tabs-container {
  padding-bottom: 1px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
  .nav-tabs,
  .nav-pills {
    & > li {
      & > a {
        @extend %navlinks;
        &:hover {
          @extend %navlinks-hover;
        }
      }
    }
    & > .active {
      & > a {
        color: #333;
        background-color: transparent;
        background: url("https://assets.library.uq.edu.au/reusable-components/resources/images/arrow-down.png") no-repeat scroll right 12px transparent;
        font-weight: normal;
        padding: 0.6em 0;
        border-bottom: 1px solid #eee;
        &:hover {
          color: #333;
          background-color: transparent;
          border-bottom: 1px solid #eee;
          font-weight: normal;
        }
      }
    }
  }
  .nav-pills {
    & > li {
      & > #s-lg-admin-tab-anchor {
        background: none !important;
      }
      & > ul {
        & > li {
          & > a {
            background: none !important;
          }
        }
      }
    }
  }
  .dropdown {
    & > .dropdown-toggle {
      color: #333 !important;
      font-weight: normal !important;
      &:hover {
        color: #333 !important;
        font-weight: normal !important;
      }
    }
  }
  ul {
    & > .active {
      & > .active {
        /* always bold the top-level selected menu item */
        font-weight: bold !important;
      }
    }
  }
  .caret {
    display: none;
  }
}

/* styles for enclosing side nav */
.s-lg-tabs-side {
  & > .nav {
    background: #fff;
    border: none;
    padding: 0 0 0 16px;
    margin: 1.5em 0;
    box-shadow:
      0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 1px 5px 0 rgba(0, 0, 0, 0.12),
      0 3px 1px -2px rgba(0, 0, 0, 0.2)
    ;
  }
  #s-lg-guide-tabs & {
    .nav {
      .dropdown {
        a {
          @extend %navlinks;
          &:hover {
            @extend %navlinks-hover;
          }
        }
      }
    }
  }
}

.s-lib-box {
  border-radius: 2px;
  border: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 1px 5px 0 rgba(0, 0, 0, 0.12),
  0 3px 1px -2px rgba(0, 0, 0, 0.2);
  background-color: #fefefe;
  .s-lib-box-title {
    font-size: 14px;
    margin-bottom: 0;
    padding: 12px 9px;
    color: #212121;
    font-weight: 500;
    background: #fefefe;
    border-bottom: 1px solid #ccc;
  }
}

#s-lg-guide-main {
  padding: 0;
}

#s-lib-scroll-top {
  display: none !important;
}

#s-lg-guide-tabs-title-bar {
  border: none !important;
}

.input-group-sm {
  & > .form-control,
  & > .input-group-addon {
    border-radius: 2px !important;
  }
  & > .input-group-btn {
    & > .btn {
      border-radius: 2px !important;
    }
  }
}

#s-lg-guide-name {
  font-size: 32px;
}

.s-lg-srch-listing-meta,
.s-lib-box-content {
  li {
    margin-left: 15px;
  }
}

.ui-widget-content a {
  color: #007e9e !important;
}

#s-lg-srch-results {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 16px;
  box-shadow: 0 2px 8px #ccc;
}

#s-lg-srch-nav {
  display: none;
}

.s-lg-link-list {
  padding-left: 0;
}

.s-lib-profile-email {
  .label.label-info {
    color: #FFFFFF;
    background-color: #007E9E;
    border-color: #007E9E;
    font-family: Roboto, 'sans serif', Helvetica, Arial;
    padding: 10px 15px;
    font-weight: 400;
  }
}

/* Front page: Hide info boxes with subject guide URL from subject list */
#s-lib-public-main #s-lg-index-list #s-lg-general-accordion .alert-info {
  display: none;
}

/* Multi-level menu - display arrow-down to indicate a dropdown */
#s-lg-guide-tabs {
  li {
    &.dropdown {
      background: url("https://assets.library.uq.edu.au/reusable-components/resources/images/arrow-down.png") no-repeat scroll right 12px transparent;
      padding-right: 8px;
      margin-right: 12px;
    }
  }
}

#s-lg-hp-nav-bottom {
  border: 1px solid #ccc;
  border-radius: 2px;
  background-color: #fefefe;
  box-shadow: 0 2px 8px #ccc;
}

#s-lg-hp-nav {
  & > ul {
    & > li {
      @extend %shadow;
    }
  }
  #s-lg-hp-nav-bottom {
    form {
      &[role=search] {
        &.pull-right {
          clear: both;
          float: none !important;
        }
        span {
          padding-right: 10px
        }
        .form-group {
          width: 70%;
          @media (max-width:768px) {
            width: 100%;
          }
          .input-group {
            width: 100%;
          }
        }
        .form-control,
        .s-lg-public-search-field {
          width: 100%;
        }
        .btn-default {
          color: #FFFFFF;
          background-color: #007E9E;
          border-color: #007E9E;
        }
      }
    }
  }
}

/* PT94260140 - h3/h4 headers font-size in a box container */
.s-lib-box-container {
  .s-lib-box-content {
    h3,
    h4 {
      font-size: 13px;
    }
  }
}

.s-lg-guide-body {
  .uq-title-text.uq-minimal-header,
  .application-title a,
  .library-title a {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    @media only screen and (min-width: 642px) {
      font-size: 20px;
    }
    @media only screen and (min-width: 1049px) {
      font-size: 23px;
    }
  }
}

div.proactivechat {
  uql-chat-proactive {
    paper-card.popupinvite,
    paper-button.button-colored-theme.tab-button.style-scope.uql-chat-proactive.x-scope.paper-button-0 {
      font-size: 16px;
      font-weight: normal;
    }
    paper-card.popupinvite {
      p.uql-chat-proactive.style-scope {
        font-size: 16px;
        font-weight: normal;
      }
    }
  }
  h3 {
    &.uql-chat-proactive {
      font-weight: normal !important;
    }
  }
}

li.uql-global-links {
  a.uql-global-links {
    font-size: 10.4px;
    ul.uql-global-links & {
      font-size: 10px;
      margin-right: 8px;
    }
  }
}
