/* starting accountOverview */


/* starting fines */


/* starting account */

prm-account-overview {
    .tiles-grid {
          .__xs & {
              padding: .5em;
              padding-top: 1em;
          }

    }
}
