/* starting authentication */
prm-authentication {
	// style the sign in button to look like a link
	.md-button {
		.bar & {
            @extend .button-as-link;
		}
        [dir="rtl"] & {
            md-icon {
                transform: rotate(180deg) scaleY(-1);
            }
        }
	}

  //the login button that appears after you click 'not logged in'
  background-color: $backgroundActual;
}

