prm-user-area-expandable {
  flex: 0 0 auto;

  md-menu {
    padding: 0px!important;
  }

  display: flex;
  .md-button {
    text-transform: none;
    &.user-button {
      @extend .prm-secondary-color.prm-hue4;
      .menu-arrow {
        color: $white;
      }
    }
    &.user-menu-button {
      padding: 0 10px 0 16px;
      max-width: 180px;
    }
    .user-name {
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: 600;
    }
    &.button-with-menu-arrow:not(.button-with-icon) {
      min-width: 0;
      padding: 0 16px;
    }
  }
  prm-spinner {
    .diamond {
      background-color: currentColor
    }
  }

  .button-with-menu-arrow {
    &:hover {
      .menu-arrow {
        @include bgColor($primary);
      }
    }
  }
}

.prm-user-menu-content {
  padding-top: 0;
  max-height: none;

  .user-menu-header {
    display: flex;
    align-items: center;
    padding: 10px 16px 8px 16px;
    // color: white;
    // @extend .prm-primary-bg
    @extend .prm-text;
    .md-button {
      margin: 0;
    }
  }
}

md-menu-item {
  &.no-hover-effect {
    pointer-events: none;
  }
}

.refworks-user-area-btn {
  &.button-with-icon {
    align-items: center;
  }
  &:hover,
  &:focus {
    box-shadow: none!important;
  }
}

