/*
 * Omeka overrides some styles added through the css plugin
 * Specifically:
 * - any styling of html header and footer elements are removed!!!
 * - any styling of the body element is removed
 * - any property set to a value of 'inherit' is removed
 * - omeka doesnt recognise rem unit values and removes the property - supply a px default
 * - it strips :before attributes
 * - any styling on a child element rewrites the '>' to \3E
 * - the following properties are removed:
 *    - transition
 *    - transition-delay
 *    - max-width
 *    - width
 *    - min-height

 * theme configured at:
 * http://uqlibraryonlineexhibitions.omeka.net/admin/exhibits/theme-config/1
 * (click on 'Configure' next to theme dropdown)


<script type="text/javascript" src="//assets.library.uq.edu.au/reusable-components/resources/preloader.js"></script>
<script type="text/javascript" src="//assets.library.uq.edu.au/master/reusable-components/omeka/load.js"></script>
<script type="text/javascript" src="//assets.library.uq.edu.au/reusable-components/webcomponentsjs/webcomponents-lite.js"></script>
<script type="text/javascript" src="//web.library.uq.edu.au/sites/all/modules/contrib/jquery_update/replace/jquery/2.1/jquery.min.js?v=2.1.4"></script>


stripped out
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0">
<link rel="import" href="//assets.library.uq.edu.au/reusable-components/elements.vulcanized.html" async>
<link rel="stylesheet" href="//assets.library.uq.edu.au/master/reusable-components/omeka/custom-styles.css">



 */

#site-title a {
    color: #FFF !important;
    text-decoration: none;
    font-size: 20px;
    line-height: 1;
    letter-spacing: .02em;
    font-weight: 400;
    white-space: nowrap
}

* {
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 24px;
}

#wrap {
    background-color: #fff;
    color: #222;
    padding-bottom: 32px;
    padding-bottom: 2rem;
    /* match width from library.uq.edu.au */
    max-width: 1170px;
    width: calc(100% - 32px);
    margin: 0 auto 8px;
    min-height: calc(100vh - 550px);
}

#wrap a,
#wrap a:link {
    color: #2377CB; /* $accent-color */
    text-decoration: none;
    border-bottom-width: 0;
}
#wrap a:hover,
#wrap a:focus {
    text-decoration: underline;
}
#wrap a:visited {
    color: #2377CB; /* $accent-color */
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    line-height: 1.25;
    margin-top: 0;
    margin-bottom: 0;
}

h1 {
    font-size: 32px;
    font-size: 2rem;
    padding-top: 16px;
    padding-top: 1rem;
}

h2 {
    font-size: 28px;
    font-size: 1.75rem;
    font-weight: 400
}

h3 {
    font-size: 22px;
    font-size: 1.4rem;
    font-weight: 400
}

h4 {
    font-size: 18px;
    font-size: 1.15rem
}

h5 {
    font-size: 16px;
    font-size: 1rem;
    font-weight: 400
}

p {
    margin-bottom: 0;
}


.button {
    font-family: Roboto, Verdana, Arial, Helvetica, sans-serif
}

#site-title {
    height: 100px;
    background-color: #49075e;
    margin-left: 0;
    padding-left: 16px;
}

#site-title img {
    margin-top: -45px
}

.column {
    position: relative;
    width: 49%
}

@media screen and (max-width: 900px) {
    .column {
        width: 100%
    }

    .qanzac {
        margin-top: 30px !important;
        margin-bottom: 10px
    }

    #footer-text {
        background-color: #49075e;
        height: 230px
    }
}

.qanzac {
    float: right;
    margin-top: -80px;
    color: #fff
}

#qanzac-logo img {
    width: auto;
    margin-top: 5px;
    height: 64px
}

@media screen and (max-width: 999px) {
    #qanzac-logo img {
        height: 50px
    }
}

.footer-container {
    background-color: #49075E;
    text-decoration: none;
    line-height: 20px;
    white-space: nowrap;
    color: #FFF !important;
    font-size: 14px;
    padding: 20px;
    margin-top: 20px
}

.footer-container a {
    color: #FFF !important;
    text-decoration: none
}

.footer-container div {
    color: #d2c1d7
}

#content #exhibit-pages ,
#content #exhibit-pages ul li ,
#content #exhibit-pages > ul:first-child > li:first-of-type ,
#content #exhibit-pages > ul > li {
    list-style: none;
    background: none;
    border-width: 0;
    padding: 0;
    margin: 0;
}

#content #exhibit-pages ul li a {
    transition: ease border, padding 0.15s;
    transition-delay: 0.15s;
    display: block;
    border-bottom: 1px solid #f5f5f5;
    padding: 12px 0;
    padding: 0.8rem 0;
    width: 100%;
    position: relative;
}
#wrap #exhibit-pages ul li.parent:before,
#wrap #exhibit-pages ul li.current:before {
    width: auto;
    position: static;
    background-color: #fff;
}
#content #exhibit-pages ul li.current a {
    color: #000;
    font-weight: 400;
}



.exhibits #content {
        width: auto;
        float: none;
}

.exhibits nav#primary-nav {
    display: none;
}

/* omeka deletes this style :( */
footer {
    padding: 0;
    margin: 0;
    background-color: #fff;
    border-top-width: 0;
}

/* omeka deletes this style :( */
header {
    border-bottom-width: 0;
}

/* hide empty menu button */
.menu-button {
    display: none;
}