// hide unused talis block elements
#footer,
#header {
  display: none;
}
// force menu bar into middle, to match uql layout
nav.talis {
  width: 100%;
}
nav.talis ul#jsddm-new {
  margin: 0 auto;
  max-width: 1140px;
}

// force content to centre to match uq layout
#fixedWidthContent {
  margin: 0 auto;
  max-width: 1140px;
  width: 100%;
}
// override talis .separator style
span.separator.style-scope.uql-global-links {
  float: none;
  font-size: 14px;
  font-size: 1rem;
  padding: inherit;
  text-align: inherit;
}

// header color block slightly short at middle widths
uq-minimal-header {
  min-height: 67px;
}
