:host {
  display: block;
  width: 100%;
  overflow: hidden;
  color: #222;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
}

.sub-footer-container {
  background-color: #e5e5e5;
  padding: 15px;
}

.sub-footer-content {
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  margin: 0 auto;
  max-width: 1140px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sub-footer-column {
  position:relative;
  padding:28px 0;
}

.sub-footer-column ul, .sub-footer-column ul li {
  list-style-type: none;
  margin:0;
  padding:0;
}

.sub-footer-column a, .sub-footer-column a:visited {
  color:#000;
  text-decoration:none;
}

.sub-footer-column a:hover {
  text-decoration:underline;
}

.sub-footer-buttons li {
  white-space: nowrap;
  background-color:#2277CA;
  text-align:center;
  padding:16px!important;
  margin:10px 0!important;
  max-width:300px;
}

.sub-footer-buttons li:hover {
  color:#2277CA;
  background-color:#aaa;
}

.sub-footer-buttons a, .sub-footer-buttons a:visited {
  color:#fff;
  text-decoration:none;
  font-weight:bold;
}

.sub-footer-buttons a:hover {
  text-decoration:none;
}

.sub-footer-column .sub-footer-column-top {
  position:absolute;
  top:0;
  font-size:18px;
  font-weight:bold;
}

.sub-footer-column .sub-footer-column-bottom {
  position: absolute;
  bottom: 0px;
  font-size: 13px;
  color: #333;
  white-space: nowrap;
}

@media all and (max-width: 640px) {
  .sub-footer-content {
    flex-direction: column;
  }
}