.libcal-hours-block {
  caption {
    display: none; // hide table caption supplied by libcal
  }

  // align cells more nicely
  tbody td,
  thead th {
    text-align: center;
  }

  tbody td.s-lc-whw-locname,
  tbody td.s-lc-whw-sublocname {
    text-align: left;
  }

  thead th.s-lc-whw-bh {
    text-align: right;
  }

  // match date area (header row and 'today' column)
  thead tr th,
  td.s-lc-whw-today,
  th.s-lc-whw-today-h {
    background-color: #F5F5F5;
    border-color: #e5e5e5;
  }

  // colour library name row
  tr.s-lc-whw-loc {
    background-color: #fcfcfc;
  }
}


// make the table responsive
@media only screen and (max-width: 760px) {
  .libcal-hours-block {

    // Force table to not be like tables anymore
    table, thead, tbody, th, td, tr {
      display: block;
    }

    // Hide table headers (but not display: none;, for accessibility)
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
      border-width: 0;
    }

    // this qworks while we have blank times for the libraries
    tbody tr.s-lc-whw-loc td {
      display: none;
    }

    tbody tr {
      border: 1px solid #ccc;
    }

    td {
      // Behave  like a "row"
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      padding-left: 50%;
    }

    td:before {
      // Now like a table header
      position: absolute;
      // Top/left values mimic padding
      top: 6px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
    }

    // Label the data
    td:nth-of-type(1):before { content: "Monday"; }
    td:nth-of-type(2):before { content: "Tuesday"; }
    td:nth-of-type(3):before { content: "Wednesday"; }
    td:nth-of-type(4):before { content: "Thursday"; }
    td:nth-of-type(5):before { content: "Friday"; }
    td:nth-of-type(6):before { content: "Saturday"; }
    td:nth-of-type(7):before { content: "Sunday"; }
  }

}
