// ITS has written the plugin thusly:
// all-libraries has attributes:
// <div id="libcal-hours-block-0" class="libcal-hours-block"></div>
// but individual-libraries has:
// <div id="libcal-hours-block"></div>
// targetting appropriately

.libcal-hours-block ,
#libcal-hours-block {
  caption {
    // hide table caption supplied by libcal
    position: absolute;
    top: -9999px;
    left: -9999px;

  }

  // align cells more nicely
  tbody td,
  thead th {
    text-align: center;
  }

  tbody td.s-lc-whw-locname,
  tbody td.s-lc-whw-sublocname {
    text-align: left;
  }

  // only the header of Today should be bolded
  thead th {
    font-weight: normal;
  }
  thead th.s-lc-whw-today-h {
    font-weight: bold;
  }

  // match date area (header row and 'today' column)
  thead tr th,
  td.s-lc-whw-today,
  th.s-lc-whw-today-h ,
  tr.s-lc-whw-loc {
    background-color: #F5F5F5;
    border-color: $footer-background-color;
//  }

  // colour library name row
//  tr.s-lc-whw-loc {
//    background-color: #fcfcfc;
  }

  tbody tr.s-lc-whw-loc td.s-lc-whw-locname {
    font-weight: 500;
  }

  tr.s-lc-whw-footnote td {
    text-align: left;
  }

  // hide the library name row on individual library entries
  // this makes sensewhile we have blank time entries for the actual libraries
  tbody tr.s-lc-whw-loc td {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  button.disabled, button[disabled], .button.disabled, .button[disabled] {
    background-color: $secondary-color;
  }

//  .s-lc-whw-bh {
//    min-width: 21rem;
//  }
}

@media only screen and (min-width: 750px) {
  #libcal-hours-block-0 {

    // make the all-hours display scroll under a fixed header
    // per https://codepen.io/tjvantoll/pen/JEKIu
    table-layout: fixed;
    border-collapse: collapse;

    th {
      text-decoration: underline;
      border-width: 0;
    }
    th, td {
      padding: 5px;
    }

    td:nth-child(1), th:nth-child(1) {
      width: 20em;
    }
    td:nth-child(2), th:nth-child(2),
    td:nth-child(3), th:nth-child(3),
    td:nth-child(4), th:nth-child(4),
    td:nth-child(5), th:nth-child(5),
    td:nth-child(6), th:nth-child(6),
    td:nth-child(7), th:nth-child(7),
    td:nth-child(8), th:nth-child(8) {
      width: calc(12vw - 2em);
      //  started with min-width: calc(100vw - 20em)/6 made it valid then reduced until it fit

    }

    thead tr {
      display: block;
      position: relative;
    }
    tbody {
      display: block;
      overflow: auto;
      width: 100%;
      height: 300px;
    }
  }
}



// make the buttons use text labels instead
//button.s-lc-whw-ne:before {
//  content: 'Next week ';
//}
//button.s-lc-whw-pr:after {
//  content: ' Prev week';
//}

// all libraries has the library name row showing on non-mobile
#libcal-hours-block-0.libcal-hours-block tbody tr.s-lc-whw-loc td {
  position: relative;
  top: auto;
  left:auto;
}

// make the table responsive
@media only screen and (max-width: 760px) {

  #libcal-hours-block-0.libcal-hours-block {

    tbody tr.s-lc-whw-loc {
      td {
        position: absolute;
        top: -9999px;
        left: -9999px;
      }
      td.s-lc-whw-locname {
        position: relative;
        top: auto;
        left: auto;

      }
    }

  }


  .libcal-hours-block ,
  #libcal-hours-block {

    table {
      width: 90%;
    }
    // Force table to not be like tables anymore
    table, thead, tbody, th, td, tr {
      display: block;
    }

    // Hide table headers (but not display: none;, for accessibility)
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
      border-width: 0;
    }

    tbody tr.s-lc-whw-loc td.s-lc-whw-locname {
      display: block;
      padding-left: 0;
      margin: 0 auto;
      text-align: center;
      font-weight: bold;
    }
    tbody td.s-lc-whw-sublocname {
      padding-left: 1rem;
      font-weight: bold;
    }

    tbody tr {
      border: 1px solid #ccc;
    }

    td {
      // Behave  like a "row"
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      padding-left: 50%;
    }

    td:before {
      // Now like a table header
      position: absolute;
      // Top/left values mimic padding
      top: 6px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
    }

    // Label the data
    td:nth-of-type(2):before {
      content: "Monday";
    }
    td:nth-of-type(3):before {
      content: "Tuesday";
    }
    td:nth-of-type(4):before {
      content: "Wednesday";
    }
    td:nth-of-type(5):before {
      content: "Thursday";
    }
    td:nth-of-type(6):before {
      content: "Friday";
    }
    td:nth-of-type(7):before {
      content: "Saturday";
    }
    td:nth-of-type(8):before {
      content: "Sunday";
    }

    td.s-lc-whw-today:before {
      content: "Today";
      font-weight: bold;
    }

    tr.s-lc-whw-footnote td {
      text-align: left;
      padding-left: 1rem;
    }

  }

}