#wrap {
  background-color: #fff;
  color: #222;
  padding-bottom: 32px;
  padding-bottom: 2rem;
  /* match width from library.uq.edu.au */
  max-width: 1170px;
  width: calc(100% - 32px);
  margin: 0 auto 8px;
  min-height: calc(100vh - 550px);
  a,
  a:link {
    color: #2377CB; /* $accent-color */
    text-decoration: none;
    border-bottom-width: 0;
  }
  a:hover,
  a:focus {
    text-decoration: underline;
  }
  a:visited {
    color: #2377CB; /* $accent-color */
  }

  #exhibit-pages ul li.parent:before,
  #exhibit-pages ul li.current:before {
    width: auto;
    position: static;
    background-color: #fff;
  }
}


#content #exhibit-pages ,
#content #exhibit-pages ul li ,
#content #exhibit-pages > ul:first-child > li:first-of-type ,
#content #exhibit-pages > ul > li {
  list-style: none;
  background: none;
  border-width: 0;
  padding: 0;
  margin: 0;
}

#content #exhibit-pages ul li a {
  transition: ease border, padding 0.15s;
  transition-delay: 0.15s;
  display: block;
  border-bottom: 1px solid #f5f5f5;
  padding: 12px 0;
  padding: 0.8rem 0;
  width: 100%;
  position: relative;
}
#content #exhibit-pages ul li.current a {
  color: #000;
  font-weight: 400;
}



.exhibits #content {
  width: auto;
  float: none;
}

.exhibits nav#primary-nav {
  display: none;
}

// override default omeka styles
.exhibit-block > *:first-child, .gallery + p, .exhibit-items + p {
  margin-top: 16px;
  margin-top: 1rem;
}