footer { // footer overridden by uql-minimal-footer
  display: none;
}


// qanzac applies to the 2016 Qld Govt Anzac logo found on the JD Fryer exhibition, 2016
.qanzac {
  color: $menu-background-color;
  text-align: center;
}

#qanzac-statement {
  white-space: normal;
}

#qanzac-logo img {
  width: auto;
  margin-top: 5px;
  height: 64px
}

@media screen and (max-width: 700px) {
  #qanzac-logo img {
    height: auto;
    width:100%;
  }
}
@media screen and (max-width: 900px) {
  .qanzac {
    margin-top: 30px !important;
    margin-bottom: 10px
  }
}