.column {
  position: relative;
  width: 49%
}

@media screen and (max-width: 900px) {
  .column {
    width: 100%
  }

  .qanzac {
    margin-top: 30px !important;
    margin-bottom: 10px
  }

  #footer-text {
    background-color: #49075e;
    height: 230px
  }
}

.qanzac {
  float: right;
  margin-top: -80px;
  color: #fff
}

#qanzac-logo img {
  width: auto;
  margin-top: 5px;
  height: 64px
}

#qanzac-statement {
  white-space: normal;
}

@media screen and (max-width: 999px) {
  #qanzac-logo img {
    height: 50px
  }
}

footer {
  background-color: #49075E;
  color: #fff;
  text-decoration: none;
  line-height: 20px;
  font-size: 14px;
  padding: 0;
  margin: 0;
  border-top-width: 0;
}

.footer-container {
  text-decoration: none;
  line-height: 20px;
  white-space: nowrap;
  color: #FFF !important;
  font-size: 14px;
  margin: 0 auto;
  max-width: 1140px;
  width: 100%;

  div {
    color: #d2c1d7
  }
  a {
    color: #FFF !important;
    text-decoration: none
  }

}