$thumbnailWidth: 60px;


    prm-search-result-thumbnail-container{
        img{
            max-height: 91px;
        }
        prm-full-view &{
            img {
                max-height: 132px;
            }
        }
    }

prm-search-result-thumbnail-container {
    position: relative;
    display: block;
    // width: $thumbnailWidth;

    // @include ie-only {
    //     display: inline-block;
    // }


    img {
        box-shadow: none;
        width: 100%;
        display: block;
        position: relative;
        // only images with an actual image (not placeholder or fallback image) get shadow
        &[src*="http"] {
            box-shadow: 0 1px 1px rgba(0, 0, 0, .3), 2px 1px 0 white, -3px 3px 10px -3px rgba(0, 0, 0, 0.3);
            html[dir="rtl"] & {
                box-shadow: 0 1px 1px rgba(0, 0, 0, .3), -2px 1px 0 white, 3px 3px 10px -3px rgba(0, 0, 0, 0.3);
            }
        }

        &.fallback-img.fallback-static{
            position: absolute;
        }

    }
    
    // fan effect for dedup/frbr
    .fan-img {
        width: $thumbnailWidth;
        position: absolute;
        display: block;
        top: 0; 
        left: 0;
        transform-origin: 50% 0;
        transition: transform .4s $swift-ease-out-timing-function;
        &:nth-of-type(1) {
        	position:relative;
            transform: rotate3d(0, 0, 1, -6deg) translate3d(-12px, 0, 0) scale3d(0.8, 0.8, 1);
            prm-brief-result-container:hover & {
                transform: rotate3d(0, 0, 1, -12deg) translate3d(-25px, -3px, 0) scale3d(0.8, 0.8, 1);
            }
        }
        &:nth-of-type(2) {
            transform: rotate3d(0, 0, 1, -3deg) translate3d(-2px, 0, 0) scale3d(0.8, 0.8, 1);
            prm-brief-result-container:hover & {
                transform: rotate3d(0, 0, 1, -7deg) translate3d(-8px, -1px, 0) scale3d(0.8, 0.8, 1);
            }
        }
        &:nth-of-type(3) {
            transform: rotate3d(0, 0, 1, 0deg) translate3d(8px, 0, 0) scale3d(.8, .8, 1);
            prm-brief-result-container:hover & {
                transform: rotate3d(0, 0, 1, 2deg) translate3d(14px, 0, 0) scale3d(.8, .8, 1);
            }
        }
    }
}


