prm-search-result-thumbnail-container {

    &:not(.dedup-images-holder) {
        img {
            + img,
            + img + img {
                display: none !important;
            }
        }
    }
}

.dedup-images-holder {
    position: relative;
    display: inline-block;
    // perspective: 1000;

    > div {
        prm-full-view & {
            width: 60px;
        }
    }

    img {
        transition: $swift-ease-out;
        transform-origin: 50% 0%;
        min-height: 88px;
        min-width: 60px;
        &:first-of-type {
            transform: rotate3d(0, 0, 1, -7deg) translate3d(-12px, 0, 0) scale3d(0.8, 0.8, 1);
            prm-brief-result-container:hover & {
                transform: rotate3d(0, 0, 1, -12deg) translate3d(-25px, -3px, 0) scale3d(0.8, 0.8, 1);
            }
        }
        + img {
            display: block;
            position: absolute;
            top: 0;
            transform: rotate3d(0, 0, 1, -3deg) translate3d(-1px, 0, 0) scale3d(0.8, 0.8, 1);
            z-index: 3;
            prm-brief-result-container:hover & {
                transform: rotate3d(0, 0, 1, -7deg) translate3d(-7px, -1px, 0) scale3d(0.8, 0.8, 1);
            }

            + img {
                position: absolute;
                top: 0;
                transform: rotate3d(0, 1, 0, 0deg) translate3d(8px, 0, 0) scale3d(.8, .8, 1);
                z-index: 4;
                prm-brief-result-container:hover & {
                    transform: rotate3d(0, 0, 1, 2deg) translate3d(12px, 0, 0) scale3d(.8, .8, 1);
                }
            }
        }
    }
    
}