
prm-physical-delivery-more-option-row{

 .td{
    color: rgba(102,102,102,1);
    font-family: Source Sans Pro;
    font-size: 16px;
    padding: 1em;
    padding-right: 2.5em;
    text-align: center;
    border-bottom-style: solid;
    border-bottom-color: rgba(193, 190, 190, .5);
    border-bottom-width: 2px;
  }
   .space{
      padding-right: 2.5em;
   }
}