prm-add-alert-toast{
  display:flex;
  md-toast {
    padding: 0;
    width: 100%;
    height: 64px;
    position: fixed!important
  }
  md-toast.ng-enter {
    -webkit-transform: translate3d(0, -100%, 0)!important;
    transform: translate3d(0, -100%, 0)!important
  }
  md-toast.ng-enter.ng-enter-active {
    -webkit-transform: translateZ(0)!important;
    transform: translateZ(0)!important
  }
  md-toast .md-toast-content {
    justify-content: center;
    box-shadow: none;
    color: #444;
    background-color: #fffcc4;
    height: 100%;
    width: 100%;
    max-height: 100%;
    max-width: 100%
  }
  md-toast .md-toast-content .md-button {
    font-weight: 600;
    color: #000;
    &:hover:not([disabled]),&:focus:not([disabled]),&:active:not([disabled]){
      background-color: transparent;
    }

  }
  md-toast .md-button.settings-button,
  md-toast .md-button.settings-button md-icon {
    color: #5c92bd
  }
}



