#exlidUserAreaRibbon {
  li span.EXLMyShelfStarSelected {
    //background-image: url(//assets.library.uq.edu.au/master/reusable-components/resources/images/folder-special.png);
  }

  li {
    background-image: none;
    padding-top: 5px; /* spacing to fit eshelf_on icon */
    a:link, a:visited {
      text-decoration: underline;
      color: $accent-color;
    }
  }
  .EXLLastItem{
    :before {
      content: "(";
    }
    :after {
      content: ")";
    }
  }

  #exlidUserName .EXLUserAreaStart {
    width: 0;
  }

  #exlidMyShelf {
    clear: left;
    background-image: url(//assets.library.uq.edu.au/master/reusable-components/resources/images/eshelf_on.png);
    background-repeat: no-repeat;
    background-position: left top;
    padding-left: 26px; /* 24px image + a little space */
    min-height: 24px;

    span {
      width: 0;
      margin: 0;
      background-image: none;
    }
  }
}