#exlidUserAreaTile {
  padding-top: 0.5em;

  #exlidUserAreaRibbon {
    li span.EXLMyShelfStarSelected {
      //background-image: url(//assets.library.uq.edu.au/master/reusable-components/resources/images/folder-special.png);
    }

    li {
      background-image: none;
      a:link, a:visited {
        text-decoration: underline;
        color: $accent-color;
      }
    }
    .EXLLastItem {
      :before {
        content: "(";
      }
      :after {
        content: ")";
      }
    }

    /* there is some chrome specific markup which is adding a list item with a pointless select
     * to the right of this ul
     * approach: hide the last one, then make sure the alternate last child is specifically not hidden by ID
    */
    li:last-child {
      display: none;
    }
    li#exlidMyAccount {
      display: block;
    }

    #exlidUserName .EXLUserAreaStart {
      width: 0;
    }

  #exlidMyShelf {
    clear: left;
    background-image: url(//assets.library.uq.edu.au/master/reusable-components/resources/images/eshelf_on_small.png);
    background-repeat: no-repeat;
    background-position: left top;
    padding-top: 1px;
    padding-left: 21px; /* 20px image + a little space */
    min-height: 16px;

      span {
        width: 0;
        margin: 0;
        background-image: none;
      }
    }
  }
  #exlidSavedSearches,
  #exlidMyAccount {
    padding-top: 1px; /* spacing to fit eshelf_on_small icon */
  }
  li span.EXLUserNameDisplay {
    padding-left: 0; /* left align username with eshelf_on_small icon */
  }

}
