// advanced search
#exlidAdvancedSearchTile {

  border-color: #fff;
  background-image: none;
  background: none;


  #exlidAdvancedSearchRibbon {

    div.EXLSearchFieldRibbonFormSubmitSearch {
      margin-top: 0.5em;
      border: none;
    }

    input.submit {
      @include uql-button(#fff, $accent-color);
    }

    input.submit.EXLAdvancedSearchClearSelection {
      @include uql-button(#fff, $secondary-color);
    }

    .EXLSearchFieldRibbonFormLinks {
      font-size: 16px;
      padding-top: 13px;
    }

    //hide search tabs
    .EXLSearchTabsContainer {
      display: none;
    }

    .EXLSearchFieldRibbon.EXLSearchFieldRibbonPreFilters {
      border: none;
    }
  }
}

@media screen and (max-width: 500px) {

  #exlidAdvancedSearchTile {
    #exlidAdvancedSearchRibbon {

      //outer search container
      .EXLSearchFieldRibbon.EXLSearchFieldRibbonPreFilters {
        padding: 0;
        margin: 0 auto;
        width: 95vw;
        overflow: hidden;
      }

      //keywords filter
      input,
      select {
        width: 80vw;
        margin: 5px 0;
      }

      //search buttons
      .EXLSearchFieldRibbonFormSubmitSearch,
      .EXLAdvancedSearchClearSelection {
        float: none !important;
        display: block !important;
        clear: both !important;
        margin-bottom: 10px;
      }

      //publishing filter
      .EXLSearchFieldRibbonFormFieldsGroup1,
      .EXLSearchFieldRibbonFormFieldsGroup2 {
        padding: 0px;
        border: none;
        width: 80vw;

        label {
          width: 80vw;
          margin: 0px;
        }
      }

      .EXLAdvancedSearchFormRow,
      .EXLAdvancedSearchFormDateRangeRow,
      .EXLAdvancedSearchFormDateRangeRow {
        label {
          display: block;
          float: none;
          width: 80vw;
          padding: 5px 0;
        }

        fieldset span.EXLAdvancedSearchFormRowInlineInput {
          display: block;
        }
      }

    }
  }
}
