// advanced search
#exlidAdvancedSearchTile {

  border-color: #fff;
  background-image: none;
  background: none;


  #exlidAdvancedSearchRibbon {

    div.EXLSearchFieldRibbonFormSubmitSearch {
      margin-top: 0.5em;
      border: none;
    }

    input.submit {
      @include uql-button(#fff, $accent-color);
    }

    input.submit.EXLAdvancedSearchClearSelection {
      @include uql-button(#fff, $secondary-color);
    }

    .EXLSearchFieldRibbonFormLinks {
      font-size: 16px;
      padding-top: 13px;
    }

    //hide search tabs
    .EXLSearchTabsContainer {
      display: none;
    }

    .EXLSearchFieldRibbon.EXLSearchFieldRibbonPreFilters {
      border: none;
    }
  }
}

@media screen and (max-width: 500px) {

  #exlidAdvancedSearchTile {

    //keywords filter
    #exlidAdvancedSearchRibbon input {
      width: 95vw;
    }

    #exlidAdvancedSearchRibbon div.EXLAdvancedSearchFormRow fieldset span.EXLAdvancedSearchFormRowInlineInput {
      display: block;
    }

    .EXLSearchFieldRibbonFormSubmitSearch,
    .EXLAdvancedSearchClearSelection {
      float: none;
      display: block;
      clear: both;
      margin: auto;
    }

    //publishing filter
    #exlidAdvancedSearchRibbon div.EXLSearchFieldRibbonFormFieldsGroup2 {
      border: none;
      width: 95vw;
    }

    .EXLAdvancedSearchFormRow label {
      display: block;
      float: none;
      width: 95vw;
      padding: 5px 0;
    }



  }

}
