// login reminder bar

// disable feedback area default yellow background color
#exlidHeaderSystemFeedback {
  background-color: transparent;
  border: none;

  #alert-container {
    background-color: $uq-emerald; // to meet WCAG 2.0 AA, PT#120068811
    @include flexbox();
    height: auto;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    left: 0;
    width: 100%;
    padding: 10px 0;

    #alert-text-container {
      text-align: left;
      padding: 0 5px;
      font-size: 0.9em;
      color: #fff !important;
      background-image: none;
      margin-top: auto;
      margin-bottom: auto;
      vertical-align: middle;
      fill: currentcolor;
      stroke: none;
      width: 24px;
      height: 24px;

      a, a:link, a:visited {
        color: #fff !important;
        text-decoration: underline;
      }

    }

  }

}

// info icon for login reminder bar
#alert-icon-container {
  background-color: white;
  top: 0;
  height: 1em;
  overflow: hidden;
  border: none;
  border-radius: 0.5em;
  box-shadow: #999 0 1px 1px;
  font-size: 1.4em;
  color: transparent;
  margin: auto 0.3em auto 0.3em;
  padding-right: 1em;
  position: relative;
}

#alert-icon-container:after {
  font-style: italic;
  font-weight: bold;
  content: "i";
  display: block;
  position: absolute;
  top: 0.25em;
  left: 0;
  width: 100%;
  text-align: center;
  font-family: "Times New Roman", "Garamond", serif;
  font-size: 0.65em;
  color: #64b10b;
}