@media screen and (max-width: 740px) {
  // display login reminder bar in mobile screens
  #exlidHeaderSystemFeedback {
    display: block;
  }
  #exlidSearchTile {
    width: 98%;
    margin: auto;

    .EXLSearchFieldRibbonFormSearchFor {
      width: 94%;
    }

    .EXLSearchFieldRibbonAdvancedSearchLink,
    .EXLSearchFieldRibbonBrowseSearchLink {
      display: none !important;
    }
  }

  uql-connect-footer {
    display: inline-block;
  }
  .sub-footer-container {
    display: inherit;
  }
}