.EXLResultsHeader {

 h1 {
   font-weight: normal;

   em {
     color: #8c8c8c;
   }
 }

  div.EXLResultsNumbers div.EXLResultsSortBy {
    float:none;
    padding-bottom: 1em;
    left: 13px;
    font-size: 100%
  }
  div.EXLResultsNavigation {
    margin-top: 17px;
    font-size: 100%
  }
}


