.EXLResultsList {

  //display search result number
  td.EXLResultNumber {
    display: block;
    font-weight: bold;
    padding-top: 2em;
    border: none;
  }

  .EXLMyShelfStar {
    padding: 5px;
  }
}


