/*-- Style item details tab as "table" --*/

/* Make sure labels align with associated data */
.EXLDetailsTabContent div.EXLDetailsContent li {
  clear: both;
}

/* Float labels left, set width to 8em and align text right */
.EXLDetailsTabContent div.EXLDetailsContent li > strong {
  display: block;
  float: left;
  width: 8em;
  margin-right: 1em;
  text-align: right;
  line-height: 1.5;
}

/* Position contents 9em to the left, leaving 1em of space between the labels and their associated data */
.EXLDetailsTabContent div.EXLDetailsContent ul li div.EXLLinkedFieldTitle,
.EXLDetailsTabContent div.EXLDetailsContent li .EXLDetailsDisplayVal,
.EXLDetailsTabContent div.EXLDetailsContent li .EXLLinkedField {
  display: block;
  margin-left: 9em;
  line-height: 1.5;
}

/* Hide semicolons between items in author, genre, MESH headings, related materials, and subject sections by making all text invisible */
.EXLDetailsTabContent div.EXLDetailsContent li[id^="Author"],
.EXLDetailsTabContent div.EXLDetailsContent li[id^="Genre"],
.EXLDetailsTabContent div.EXLDetailsContent li[id^="Includes"],
.EXLDetailsTabContent div.EXLDetailsContent li[id^="MESH"],
.EXLDetailsTabContent div.EXLDetailsContent li[id^="Related"],
.EXLDetailsTabContent div.EXLDetailsContent li[id^="Subject"],
.EXLDetailsTabContent div.EXLDetailsContent li[id^="Local subject"] {
  visibility: hidden;
  line-height: 0;
}

/* Show labels and links in author, genre, MESH headings, related materials, and subject sections */
.EXLDetailsTabContent div.EXLDetailsContent li[id^="Author"] strong,
.EXLDetailsTabContent div.EXLDetailsContent li[id^="Genre"] strong,
.EXLDetailsTabContent div.EXLDetailsContent li[id^="Includes"] strong,
.EXLDetailsTabContent div.EXLDetailsContent li[id^="MESH"] strong,
.EXLDetailsTabContent div.EXLDetailsContent li[id^="Related"] strong,
.EXLDetailsTabContent div.EXLDetailsContent li[id^="Subject"] strong,
.EXLDetailsTabContent div.EXLDetailsContent li[id^="Local subject"] strong,
.EXLDetailsTabContent div.EXLDetailsContent li[id^="Author"] a,
.EXLDetailsTabContent div.EXLDetailsContent li[id^="Genre"] a,
.EXLDetailsTabContent div.EXLDetailsContent li[id^="Includes"] a,
.EXLDetailsTabContent div.EXLDetailsContent li[id^="MESH"] a,
.EXLDetailsTabContent div.EXLDetailsContent li[id^="Related"] a,
.EXLDetailsTabContent div.EXLDetailsContent li[id^="Subject"] a,
.EXLDetailsTabContent div.EXLDetailsContent li[id^="Local subject"] a {
  visibility: visible;
  line-height: 1.5;
}

/* Hide line breaks between items */
.EXLDetailsTabContent div.EXLDetailsContent li br {
  display: none;
}

/* Set line break height in description field to create space between paragraphs */
.EXLDetailsTabContent div.EXLDetailsContent li[id^="Description"] br {
  line-height: .75;
  display: inline-block;
}

/* make certain options in the save/share selector disappear */
.EXLButtonSendToEasyBib {
  display: none;
}

.EXLButtonSendToRefWorks {
  display: none;
}

.EXLButtonSendToDelicious {
  display: none;
}

.EXLButtonSendToFacebook {
  display: none;
}

/* remove the icons on each Send/Share selector item */
.EXLTabHeaderButtonSendToList .EXLButtonSendToIcon {
  display: none !important;
}
