.EXLResultsList {

  //Save/share (actions) image spacing
  .EXLTabHeaderButtonSendTo img {
    padding-left: 0.4em;
  }

    //display search result number
  td.EXLResultNumber {
    display: block;
    font-weight: bold;
    padding-top: 1em;
    border: none;
  }

  td.EXLMyShelfStar {
    padding-top: 8px;
    padding-right: 10px;
  }

  h1.EXLResultTitle {
    font-size: 16px;
  }

  h2 {
    font-size:120%;
    padding-bottom: 0.5em;
  }

  h3 {
    display: inline-block;
  }

  p.EXLResultSnippet {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  td.EXLThumbnail  {
    padding-top: 1em;
  }

  div.EXLSummaryContainer div.EXLSummaryFields {
    padding-top: 0.4em;
  }
}


