.EXLResultsList {

  //Save/share (actions) image spacing
  .EXLTabHeaderButtonSendTo img {
    padding-left: 0.4em;
  }

    //display search result number
  td.EXLResultNumber {
    display: block;
    font-weight: bold;
    padding-top: 2em;
    border: none;
  }

  .EXLMyShelfStar {
    padding: 5px;
  }

  h2 {
    font-size:120%;
    padding-bottom: 0.5em;
  }

  h3 {
    display: inline-block;
  }

  p.EXLResultSnippet {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
}


