.EXLResultsHeader {

 h1 {
   color: #6c6c6c;
   em {
     color: #6c6c6c;
   }
 }

  div.EXLResultsNumbers div.EXLResultsSortBy {
    float:none;
    padding-bottom: 1em;
    left: 13px;
    font-size: 100%;
    span.EXLResultsSortBySelected a {
      color: #32322f !important;
    }
  }
  div.EXLResultsNavigation {
    margin-top: 17px;
    font-size: 100%;
  }
}


