/* make saved items 'Go' button look like 'Refine (dates)' button */
td .EXLEShelfFolderContentsTable * {
  font-family: inherit;
}
td .EXLEShelfFolderContentsTable {
  font-size: 1.1em;
}

#buttonsUl table {
  margin-top: 0.15em;
}
#buttonsUl .buttonGo {
  border-width: 0;
}
#buttonsUl .buttonGo a {
  background-color: #0075B0;
  padding: 0.2em 0.6em 0 0.6em;
  color: #fff !important;
  border: 1px solid #7f9db9;
}
select#saveAs {
  margin-top: 0.3em;
}
.EXLEShelfFolderContentsManipulationButtonList li {
  margin-top: 0.1em;
}


/* make certain options in the save/share selector disappear */
iframe.EXLEshelfDocumentDetailsIFrame .EXLButtonSendToEasyBib,
iframe.EXLEshelfDocumentDetailsIFrame .EXLButtonSendToRefWorks,
iframe.EXLEshelfDocumentDetailsIFrame .EXLButtonSendToDelicious,
iframe.EXLEshelfDocumentDetailsIFrame .EXLButtonSendToFacebook {
  display: none;
}


