// #exlidSearchTile - simple search
#exlidSearchTile {
  border: none;
  background-image: none;
  height: auto;
  width: 100%;
  font-size: 1em;
  padding-top: 40px;

  // hide scope from simple search box
  .EXLSearchTabsContainer {
    display: none !important;
  }

  .EXLSearchFieldRibbonFormSearchFor {
    border-bottom: 1px solid #333;
  }

  .EXLSearchFieldRibbonFormFields {
    background-color: #f2f2f2;
    border-radius: 3px;
    padding: 4px 0 0 4px;
    width: 90%;
    height: 36px;
  }

  #exlidSearchRibbon {

    margin: auto;
    float: none;

    fieldset {
      float: none;
    }

    input#search_field {
      background: #f2f2f2;
      padding: 2px;
      border: none;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
    }

    div.EXLSearchFieldRibbon {
      border: 0;
      height: auto;
    }
  }

  .EXLSearchFieldRibbonAdvancedSearchLink {
    position: absolute;
    right: 23em;
    width: 7em;
    margin-right: 0;
    margin-bottom: auto;
    padding-top: 0.7em;
    padding-right: 0;
  }

  .EXLSearchFieldRibbonBrowseSearchLink {
    float: right;
    width: auto;
    margin-top: -1em;
    margin-right: 10.2em;
    margin-bottom: 2em;
    padding-top: 2.7em;
  }
}

/* selector hack: had to fix overflow blocking the Browse Search link on webkit, which meant firefox needed to be moved a little */
body:not(:-moz-handler-blocked) #exlidSearchTile .EXLSearchFieldRibbonAdvancedSearchLink {
  margin-top: 0.85em;
  padding-right: 2em;
  right: 32.2em;
}
body:not(:-moz-handler-blocked) #exlidSearchTile .EXLSearchFieldRibbonBrowseSearchLink {
  margin-top: -1.15em;
  padding-top: 3em;
}

#exlidHeaderSearchLimits {
  /* match the uql look and feel */
  background-color: #fff;

  /* remove border to visually integrate into uql search area */
  border-bottom-width: 0;

  /* move up from the default position */
  margin-top: 1em;

  /* match the horizontal layout of #exlidSearchRibbon, as defined in http://uq-edu-primo.hosted.exlibrisgroup.com/primo_library/libweb/wro/primo_library_wro_61UQ_DEV_en_US.css */
  width: 55em;
  padding-left: 1em;
  margin-left: auto;
  margin-right: auto;

  select {
    font-size: 14.4px;
  }

  fieldset {
    padding-left: 0;
    width: 50%; /* may not need this */
  }
}
