/* starting locationsFilter */

prm-locations-filter{
  md-select{
    margin-top: -4px;
  }
  .md-button.filter-align{
    margin-top: 3px;
  }

  .md-button.cancel-align{
    margin-top: 6px;
  }
}